<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>swan_1</key>
	<dict>
		<key>fly_left</key>
		<dict>
			<key>height</key>
			<string>139</string>
			<key>number</key>
			<string>5</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>712</string>
			<key>width</key>
			<string>97</string>
		</dict>
		<key>fly_leftUp</key>
		<dict>
			<key>height</key>
			<string>106</string>
			<key>number</key>
			<string>5</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>523</string>
			<key>width</key>
			<string>119</string>
		</dict>
		<key>fly_down</key>
		<dict>
			<key>height</key>
			<string>78</string>
			<key>number</key>
			<string>5</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>273</string>
			<key>width</key>
			<string>129</string>
		</dict>
		<key>fly_leftDown</key>
		<dict>
			<key>height</key>
			<string>98</string>
			<key>number</key>
			<string>5</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>425</string>
			<key>width</key>
			<string>119</string>
		</dict>
		<key>fly_up</key>
		<dict>
			<key>height</key>
			<string>80</string>
			<key>number</key>
			<string>5</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>137</string>
		</dict>
		<key>maxItems</key>
		<string>20</string>
		<key>transition_up</key>
		<dict>
			<key>height</key>
			<string>52</string>
			<key>number</key>
			<string>5</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>221</string>
			<key>width</key>
			<string>132</string>
		</dict>
		<key>transition_down</key>
		<dict>
			<key>height</key>
			<string>58</string>
			<key>number</key>
			<string>5</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>163</string>
			<key>width</key>
			<string>132</string>
		</dict>
		<key>transition_left</key>
		<dict>
			<key>height</key>
			<string>83</string>
			<key>number</key>
			<string>5</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>629</string>
			<key>width</key>
			<string>100</string>
		</dict>
		<key>transition_leftUp</key>
		<dict>
			<key>height</key>
			<string>74</string>
			<key>number</key>
			<string>5</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>351</string>
			<key>width</key>
			<string>125</string>
		</dict>
		<key>transition_leftDown</key>
		<dict>
			<key>height</key>
			<string>83</string>
			<key>number</key>
			<string>5</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>80</string>
			<key>width</key>
			<string>134</string>
		</dict>
	</dict>
</dict>
</plist>
