<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>babycrane</key>
	<dict>
		<key>eat</key>
		<dict>
			<key>height</key>
			<string>49</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>68</string>
		</dict>
		<key>ill_down</key>
		<dict>
			<key>height</key>
			<string>51</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>115</string>
			<key>originY</key>
			<string>220</string>
			<key>width</key>
			<string>25</string>
		</dict>
		<key>ill_left</key>
		<dict>
			<key>height</key>
			<string>33</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>500</string>
			<key>originY</key>
			<string>49</string>
			<key>width</key>
			<string>60</string>
		</dict>
		<key>ill_leftDown</key>
		<dict>
			<key>height</key>
			<string>40</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>630</string>
			<key>originY</key>
			<string>100</string>
			<key>width</key>
			<string>50</string>
		</dict>
		<key>ill_leftUp</key>
		<dict>
			<key>height</key>
			<string>45</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>600</string>
			<key>originY</key>
			<string>160</string>
			<key>width</key>
			<string>49</string>
		</dict>
		<key>ill_up</key>
		<dict>
			<key>height</key>
			<string>54</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>649</string>
			<key>originY</key>
			<string>160</string>
			<key>width</key>
			<string>30</string>
		</dict>
		<key>maxItems</key>
		<string>12</string>
		<key>pose</key>
		<dict>
			<key>height</key>
			<string>51</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>617</string>
			<key>originY</key>
			<string>49</string>
			<key>width</key>
			<string>57</string>
		</dict>
		<key>rest_down</key>
		<dict>
			<key>height</key>
			<string>66</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>140</string>
			<key>originY</key>
			<string>220</string>
			<key>width</key>
			<string>24</string>
		</dict>
		<key>rest_left</key>
		<dict>
			<key>height</key>
			<string>51</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>560</string>
			<key>originY</key>
			<string>49</string>
			<key>width</key>
			<string>57</string>
		</dict>
		<key>rest_leftDown</key>
		<dict>
			<key>height</key>
			<string>60</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>47</string>
			<key>originY</key>
			<string>220</string>
			<key>width</key>
			<string>40</string>
		</dict>
		<key>rest_leftUp</key>
		<dict>
			<key>height</key>
			<string>60</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>220</string>
			<key>width</key>
			<string>47</string>
		</dict>
		<key>rest_up</key>
		<dict>
			<key>height</key>
			<string>63</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>87</string>
			<key>originY</key>
			<string>220</string>
			<key>width</key>
			<string>28</string>
		</dict>
		<key>walk_down</key>
		<dict>
			<key>height</key>
			<string>60</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>380</string>
			<key>originY</key>
			<string>160</string>
			<key>width</key>
			<string>22</string>
		</dict>
		<key>walk_left</key>
		<dict>
			<key>height</key>
			<string>50</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>49</string>
			<key>width</key>
			<string>50</string>
		</dict>
		<key>walk_leftDown</key>
		<dict>
			<key>height</key>
			<string>52</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>100</string>
			<key>width</key>
			<string>41</string>
		</dict>
		<key>walk_leftUp</key>
		<dict>
			<key>height</key>
			<string>53</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>160</string>
			<key>width</key>
			<string>38</string>
		</dict>
		<key>walk_up</key>
		<dict>
			<key>height</key>
			<string>60</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>410</string>
			<key>originY</key>
			<string>100</string>
			<key>width</key>
			<string>22</string>
		</dict>
	</dict>
</dict>
</plist>
