<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>babyhen</key>
	<dict>
		<key>eat_down</key>
		<dict>
			<key>height</key>
			<string>42</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>334</string>
			<key>width</key>
			<string>22</string>
		</dict>
		<key>eat_left</key>
		<dict>
			<key>height</key>
			<string>30</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>40</string>
		</dict>
		<key>eat_leftback</key>
		<dict>
			<key>height</key>
			<string>33</string>
			<key>number</key>
			<string>9</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>98</string>
			<key>width</key>
			<string>38</string>
		</dict>
		<key>eat_leftfront</key>
		<dict>
			<key>height</key>
			<string>33</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>65</string>
			<key>width</key>
			<string>35</string>
		</dict>
		<key>eat_up</key>
		<dict>
			<key>height</key>
			<string>41</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>209</string>
			<key>width</key>
			<string>24</string>
		</dict>
		<key>ill_down</key>
		<dict>
			<key>height</key>
			<string>33</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>282</string>
			<key>originY</key>
			<string>209</string>
			<key>width</key>
			<string>21</string>
		</dict>
		<key>ill_left</key>
		<dict>
			<key>height</key>
			<string>28</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>270</string>
			<key>originY</key>
			<string>170</string>
			<key>width</key>
			<string>34</string>
		</dict>
		<key>ill_leftDown</key>
		<dict>
			<key>height</key>
			<string>27</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>330</string>
			<key>originY</key>
			<string>131</string>
			<key>width</key>
			<string>38</string>
		</dict>
		<key>ill_leftUp</key>
		<dict>
			<key>height</key>
			<string>33</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>261</string>
			<key>originY</key>
			<string>209</string>
			<key>width</key>
			<string>21</string>
		</dict>
		<key>ill_up</key>
		<dict>
			<key>height</key>
			<string>30</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>336</string>
			<key>originY</key>
			<string>170</string>
			<key>width</key>
			<string>31</string>
		</dict>
		<key>maxItems</key>
		<string>12</string>
		<key>pose</key>
		<dict>
			<key>height</key>
			<string>27</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>342</string>
			<key>originY</key>
			<string>98</string>
			<key>width</key>
			<string>38</string>
		</dict>
		<key>rest_down</key>
		<dict>
			<key>height</key>
			<string>34</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>240</string>
			<key>originY</key>
			<string>209</string>
			<key>width</key>
			<string>21</string>
		</dict>
		<key>rest_left</key>
		<dict>
			<key>height</key>
			<string>29</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>304</string>
			<key>originY</key>
			<string>170</string>
			<key>width</key>
			<string>32</string>
		</dict>
		<key>rest_leftDown</key>
		<dict>
			<key>height</key>
			<string>27</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>350</string>
			<key>originY</key>
			<string>65</string>
			<key>width</key>
			<string>38</string>
		</dict>
		<key>rest_leftUp</key>
		<dict>
			<key>height</key>
			<string>33</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>367</string>
			<key>originY</key>
			<string>170</string>
			<key>width</key>
			<string>21</string>
		</dict>
		<key>rest_up</key>
		<dict>
			<key>height</key>
			<string>28</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>368</string>
			<key>originY</key>
			<string>131</string>
			<key>width</key>
			<string>32</string>
		</dict>
		<key>walk_down</key>
		<dict>
			<key>height</key>
			<string>42</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>292</string>
			<key>width</key>
			<string>23</string>
		</dict>
		<key>walk_leftback</key>
		<dict>
			<key>height</key>
			<string>39</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>170</string>
			<key>width</key>
			<string>27</string>
		</dict>
		<key>walk_leftDown</key>
		<dict>
			<key>height</key>
			<string>39</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>131</string>
			<key>width</key>
			<string>33</string>
		</dict>
		<key>walk_leftUp</key>
		<dict>
			<key>height</key>
			<string>35</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>30</string>
			<key>width</key>
			<string>39</string>
		</dict>
		<key>walk_up</key>
		<dict>
			<key>height</key>
			<string>42</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>250</string>
			<key>width</key>
			<string>23</string>
		</dict>
	</dict>
</dict>
</plist>
