<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>crane_1</key>
	<dict>
		<key>maxItems</key><string>12</string>
		<key>flying_down</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>148</string>
			<key>height</key>
			<string>122</string>
			<key>number</key>
			<string>4</string>
		</dict>
		<key>flying_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>122</string>
			<key>width</key>
			<string>135</string>
			<key>height</key>
			<string>103</string>
			<key>number</key>
			<string>4</string>
		</dict>
		<key>rest_up</key>
		<dict>
			<key>originX</key>
			<string>540</string>
			<key>originY</key>
			<string>122</string>
			<key>width</key>
			<string>28</string>
			<key>height</key>
			<string>93</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>flying_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>225</string>
			<key>width</key>
			<string>120</string>
			<key>height</key>
			<string>122</string>
			<key>number</key>
			<string>4</string>
		</dict>
		<key>rest_left</key>
		<dict>
			<key>originX</key>
			<string>480</string>
			<key>originY</key>
			<string>225</string>
			<key>width</key>
			<string>72</string>
			<key>height</key>
			<string>89</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_down</key>
		<dict>
			<key>originX</key>
			<string>552</string>
			<key>originY</key>
			<string>225</string>
			<key>width</key>
			<string>28</string>
			<key>height</key>
			<string>94</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>flying_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>347</string>
			<key>width</key>
			<string>114</string>
			<key>height</key>
			<string>126</string>
			<key>number</key>
			<string>4</string>
		</dict>
		<key>pose</key>
		<dict>
			<key>originX</key>
			<string>456</string>
			<key>originY</key>
			<string>347</string>
			<key>width</key>
			<string>72</string>
			<key>height</key>
			<string>89</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_leftUp</key>
		<dict>
			<key>originX</key>
			<string>528</string>
			<key>originY</key>
			<string>347</string>
			<key>width</key>
			<string>55</string>
			<key>height</key>
			<string>94</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>flying_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>473</string>
			<key>width</key>
			<string>108</string>
			<key>height</key>
			<string>136</string>
			<key>number</key>
			<string>4</string>
		</dict>
		<key>rest_leftDown</key>
		<dict>
			<key>originX</key>
			<string>432</string>
			<key>originY</key>
			<string>473</string>
			<key>width</key>
			<string>54</string>
			<key>height</key>
			<string>86</string>
			<key>number</key>
			<string>1</string>
		</dict>
	</dict>
</dict>