<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>dog</key>
	<dict>
		<key>maxItems</key><string>10</string>
		<key>walk_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>110</string>
			<key>height</key>
			<string>76</string>
			<key>number</key>
			<string>9</string>
		</dict>
		<key>rest</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>76</string>
			<key>width</key>
			<string>72</string>
			<key>height</key>
			<string>84</string>
			<key>number</key>
			<string>5</string>
		</dict>
		<key>walk_up</key>
		<dict>
			<key>originX</key>
			<string>360</string>
			<key>originY</key>
			<string>76</string>
			<key>width</key>
			<string>42</string>
			<key>height</key>
			<string>101</string>
			<key>number</key>
			<string>7</string>
		</dict>
		<key>walk_down</key>
		<dict>
			<key>originX</key>
			<string>654</string>
			<key>originY</key>
			<string>76</string>
			<key>width</key>
			<string>37</string>
			<key>height</key>
			<string>86</string>
			<key>number</key>
			<string>7</string>
		</dict>
	</dict>
</dict>