<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>magpie</key>
	<dict>
		<key>maxItems</key><string>16</string>
		<key>transiton_down</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>95</string>
			<key>height</key>
			<string>52</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>fly_down</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>52</string>
			<key>width</key>
			<string>110</string>
			<key>height</key>
			<string>69</string>
			<key>number</key>
			<string>5</string>
		</dict>
		<key>transtition_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>121</string>
			<key>width</key>
			<string>82</string>
			<key>height</key>
			<string>57</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>ill_left</key>
		<dict>
			<key>originX</key>
			<string>492</string>
			<key>originY</key>
			<string>121</string>
			<key>width</key>
			<string>70</string>
			<key>height</key>
			<string>26</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>landing_down</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>178</string>
			<key>width</key>
			<string>120</string>
			<key>height</key>
			<string>74</string>
			<key>number</key>
			<string>4</string>
		</dict>
		<key>sleep_left</key>
		<dict>
			<key>originX</key>
			<string>480</string>
			<key>originY</key>
			<string>178</string>
			<key>width</key>
			<string>65</string>
			<key>height</key>
			<string>25</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep_down</key>
		<dict>
			<key>originX</key>
			<string>545</string>
			<key>originY</key>
			<string>178</string>
			<key>width</key>
			<string>25</string>
			<key>height</key>
			<string>49</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>fly_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>252</string>
			<key>width</key>
			<string>95</string>
			<key>height</key>
			<string>59</string>
			<key>number</key>
			<string>5</string>
		</dict>
		<key>sleep_leftUp</key>
		<dict>
			<key>originX</key>
			<string>475</string>
			<key>originY</key>
			<string>252</string>
			<key>width</key>
			<string>61</string>
			<key>height</key>
			<string>43</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_down</key>
		<dict>
			<key>originX</key>
			<string>536</string>
			<key>originY</key>
			<string>252</string>
			<key>width</key>
			<string>28</string>
			<key>height</key>
			<string>40</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>transition_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>311</string>
			<key>width</key>
			<string>78</string>
			<key>height</key>
			<string>54</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>stand_right</key>
		<dict>
			<key>originX</key>
			<string>468</string>
			<key>originY</key>
			<string>311</string>
			<key>width</key>
			<string>60</string>
			<key>height</key>
			<string>49</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_up</key>
		<dict>
			<key>originX</key>
			<string>528</string>
			<key>originY</key>
			<string>311</string>
			<key>width</key>
			<string>25</string>
			<key>height</key>
			<string>48</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>landing_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>365</string>
			<key>width</key>
			<string>90</string>
			<key>height</key>
			<string>62</string>
			<key>number</key>
			<string>5</string>
		</dict>
		<key>walk_down</key>
		<dict>
			<key>originX</key>
			<string>450</string>
			<key>originY</key>
			<string>365</string>
			<key>width</key>
			<string>20</string>
			<key>height</key>
			<string>55</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>transition_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>427</string>
			<key>width</key>
			<string>72</string>
			<key>height</key>
			<string>66</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>walk_front</key>
		<dict>
			<key>originX</key>
			<string>432</string>
			<key>originY</key>
			<string>427</string>
			<key>width</key>
			<string>22</string>
			<key>height</key>
			<string>58</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>transition_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>493</string>
			<key>width</key>
			<string>71</string>
			<key>height</key>
			<string>69</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>stand_left</key>
		<dict>
			<key>originX</key>
			<string>426</string>
			<key>originY</key>
			<string>493</string>
			<key>width</key>
			<string>60</string>
			<key>height</key>
			<string>49</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>pose</key>
		<dict>
			<key>originX</key>
			<string>486</string>
			<key>originY</key>
			<string>493</string>
			<key>width</key>
			<string>60</string>
			<key>height</key>
			<string>49</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep_up</key>
		<dict>
			<key>originX</key>
			<string>546</string>
			<key>originY</key>
			<string>493</string>
			<key>width</key>
			<string>21</string>
			<key>height</key>
			<string>67</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>landing_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>562</string>
			<key>width</key>
			<string>85</string>
			<key>height</key>
			<string>64</string>
			<key>number</key>
			<string>5</string>
		</dict>
		<key>sleep_leftDown</key>
		<dict>
			<key>originX</key>
			<string>425</string>
			<key>originY</key>
			<string>562</string>
			<key>width</key>
			<string>55</string>
			<key>height</key>
			<string>28</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftUp</key>
		<dict>
			<key>originX</key>
			<string>480</string>
			<key>originY</key>
			<string>562</string>
			<key>width</key>
			<string>55</string>
			<key>height</key>
			<string>42</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>landing_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>626</string>
			<key>width</key>
			<string>85</string>
			<key>height</key>
			<string>74</string>
			<key>number</key>
			<string>5</string>
		</dict>
		<key>ill_leftDown</key>
		<dict>
			<key>originX</key>
			<string>425</string>
			<key>originY</key>
			<string>626</string>
			<key>width</key>
			<string>53</string>
			<key>height</key>
			<string>31</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>fly_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>700</string>
			<key>width</key>
			<string>80</string>
			<key>height</key>
			<string>55</string>
			<key>number</key>
			<string>5</string>
		</dict>
		<key>fly_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>755</string>
			<key>width</key>
			<string>75</string>
			<key>height</key>
			<string>70</string>
			<key>number</key>
			<string>5</string>
		</dict>
		<key>landing_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>825</string>
			<key>width</key>
			<string>73</string>
			<key>height</key>
			<string>64</string>
			<key>number</key>
			<string>5</string>
		</dict>
		<key>walk_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>889</string>
			<key>width</key>
			<string>60</string>
			<key>height</key>
			<string>49</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>walk_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>938</string>
			<key>width</key>
			<string>60</string>
			<key>height</key>
			<string>42</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>eat</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>980</string>
			<key>width</key>
			<string>70</string>
			<key>height</key>
			<string>36</string>
			<key>number</key>
			<string>5</string>
		</dict>
		<key>fly_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>1016</string>
			<key>width</key>
			<string>67</string>
			<key>height</key>
			<string>71</string>
			<key>number</key>
			<string>5</string>
		</dict>
		<key>walk_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>1087</string>
			<key>width</key>
			<string>51</string>
			<key>height</key>
			<string>45</string>
			<key>number</key>
			<string>6</string>
		</dict>
	</dict>
</dict>