<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>malePheasant</key>
	<dict>
		<key>maxItems</key><string>12</string>
		<key>walk_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>125</string>
			<key>height</key>
			<string>64</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>eat</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>64</string>
			<key>width</key>
			<string>125</string>
			<key>height</key>
			<string>49</string>
			<key>number</key>
			<string>5</string>
		</dict>
		<key>stand_right</key>
		<dict>
			<key>originX</key>
			<string>625</string>
			<key>originY</key>
			<string>64</string>
			<key>width</key>
			<string>125</string>
			<key>height</key>
			<string>63</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>127</string>
			<key>width</key>
			<string>100</string>
			<key>height</key>
			<string>89</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>stand_left</key>
		<dict>
			<key>originX</key>
			<string>600</string>
			<key>originY</key>
			<string>127</string>
			<key>width</key>
			<string>125</string>
			<key>height</key>
			<string>63</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>216</string>
			<key>width</key>
			<string>84</string>
			<key>height</key>
			<string>66</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>walk_down</key>
		<dict>
			<key>originX</key>
			<string>504</string>
			<key>originY</key>
			<string>216</string>
			<key>width</key>
			<string>39</string>
			<key>height</key>
			<string>89</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>walk_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>305</string>
			<key>width</key>
			<string>34</string>
			<key>height</key>
			<string>89</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>pose</key>
		<dict>
			<key>originX</key>
			<string>204</string>
			<key>originY</key>
			<string>305</string>
			<key>width</key>
			<string>125</string>
			<key>height</key>
			<string>64</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_left</key>
		<dict>
			<key>originX</key>
			<string>329</string>
			<key>originY</key>
			<string>305</string>
			<key>width</key>
			<string>125</string>
			<key>height</key>
			<string>35</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_left</key>
		<dict>
			<key>originX</key>
			<string>454</string>
			<key>originY</key>
			<string>305</string>
			<key>width</key>
			<string>115</string>
			<key>height</key>
			<string>38</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftUp</key>
		<dict>
			<key>originX</key>
			<string>569</string>
			<key>originY</key>
			<string>305</string>
			<key>width</key>
			<string>97</string>
			<key>height</key>
			<string>67</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftDown</key>
		<dict>
			<key>originX</key>
			<string>666</string>
			<key>originY</key>
			<string>305</string>
			<key>width</key>
			<string>79</string>
			<key>height</key>
			<string>38</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>394</string>
			<key>width</key>
			<string>93</string>
			<key>height</key>
			<string>73</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_leftDown</key>
		<dict>
			<key>originX</key>
			<string>93</string>
			<key>originY</key>
			<string>394</string>
			<key>width</key>
			<string>72</string>
			<key>height</key>
			<string>40</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_up</key>
		<dict>
			<key>originX</key>
			<string>165</string>
			<key>originY</key>
			<string>394</string>
			<key>width</key>
			<string>37</string>
			<key>height</key>
			<string>95</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_down</key>
		<dict>
			<key>originX</key>
			<string>202</string>
			<key>originY</key>
			<string>394</string>
			<key>width</key>
			<string>37</string>
			<key>height</key>
			<string>47</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_up</key>
		<dict>
			<key>originX</key>
			<string>239</string>
			<key>originY</key>
			<string>394</string>
			<key>width</key>
			<string>35</string>
			<key>height</key>
			<string>90</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_down</key>
		<dict>
			<key>originX</key>
			<string>274</string>
			<key>originY</key>
			<string>394</string>
			<key>width</key>
			<string>33</string>
			<key>height</key>
			<string>42</string>
			<key>number</key>
			<string>1</string>
		</dict>
	</dict>
</dict>