<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>nest</key>
	<dict>
		<key>maxItems</key><string>7</string>
		<key>crane_nest.png</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>110</string>
			<key>height</key>
			<string>65</string>
			<key>number</key>
			<string>14</string>
		</dict>
	</dict>
</dict>