<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>peahen</key>
	<dict>
		<key>maxItems</key><string>10</string>
		<key>eat</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>102</string>
			<key>height</key>
			<string>60</string>
			<key>number</key>
			<string>16</string>
		</dict>
		<key>walk_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>120</string>
			<key>width</key>
			<string>98</string>
			<key>height</key>
			<string>61</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>ill_down</key>
		<dict>
			<key>originX</key>
			<string>980</string>
			<key>originY</key>
			<string>120</string>
			<key>width</key>
			<string>38</string>
			<key>height</key>
			<string>60</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>181</string>
			<key>width</key>
			<string>79</string>
			<key>height</key>
			<string>71</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>stand_right</key>
		<dict>
			<key>originX</key>
			<string>790</string>
			<key>originY</key>
			<string>181</string>
			<key>width</key>
			<string>95</string>
			<key>height</key>
			<string>60</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>stand_left</key>
		<dict>
			<key>originX</key>
			<string>885</string>
			<key>originY</key>
			<string>181</string>
			<key>width</key>
			<string>95</string>
			<key>height</key>
			<string>60</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_down</key>
		<dict>
			<key>originX</key>
			<string>980</string>
			<key>originY</key>
			<string>181</string>
			<key>width</key>
			<string>37</string>
			<key>height</key>
			<string>68</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>252</string>
			<key>width</key>
			<string>73</string>
			<key>height</key>
			<string>67</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>pose</key>
		<dict>
			<key>originX</key>
			<string>730</string>
			<key>originY</key>
			<string>252</string>
			<key>width</key>
			<string>95</string>
			<key>height</key>
			<string>60</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_left</key>
		<dict>
			<key>originX</key>
			<string>825</string>
			<key>originY</key>
			<string>252</string>
			<key>width</key>
			<string>94</string>
			<key>height</key>
			<string>42</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_left</key>
		<dict>
			<key>originX</key>
			<string>919</string>
			<key>originY</key>
			<string>252</string>
			<key>width</key>
			<string>88</string>
			<key>height</key>
			<string>48</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>319</string>
			<key>width</key>
			<string>37</string>
			<key>height</key>
			<string>65</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>walk_down</key>
		<dict>
			<key>originX</key>
			<string>370</string>
			<key>originY</key>
			<string>319</string>
			<key>width</key>
			<string>36</string>
			<key>height</key>
			<string>66</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>ill_leftDown</key>
		<dict>
			<key>originX</key>
			<string>730</string>
			<key>originY</key>
			<string>319</string>
			<key>width</key>
			<string>76</string>
			<key>height</key>
			<string>52</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftUp</key>
		<dict>
			<key>originX</key>
			<string>806</string>
			<key>originY</key>
			<string>319</string>
			<key>width</key>
			<string>71</string>
			<key>height</key>
			<string>55</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_leftDown</key>
		<dict>
			<key>originX</key>
			<string>877</string>
			<key>originY</key>
			<string>319</string>
			<key>width</key>
			<string>66</string>
			<key>height</key>
			<string>51</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_leftUp</key>
		<dict>
			<key>originX</key>
			<string>943</string>
			<key>originY</key>
			<string>319</string>
			<key>width</key>
			<string>65</string>
			<key>height</key>
			<string>65</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>385</string>
			<key>width</key>
			<string>36</string>
			<key>height</key>
			<string>75</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_up</key>
		<dict>
			<key>originX</key>
			<string>36</string>
			<key>originY</key>
			<string>385</string>
			<key>width</key>
			<string>36</string>
			<key>height</key>
			<string>80</string>
			<key>number</key>
			<string>1</string>
		</dict>
	</dict>
</dict>