<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>peacock</key>
	<dict>
		<key>maxItems</key><string>10</string>
		<key>spread</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>193</string>
			<key>height</key>
			<string>174</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>eat</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>174</string>
			<key>width</key>
			<string>140</string>
			<key>height</key>
			<string>48</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>walk_up</key>
		<dict>
			<key>originX</key>
			<string>840</string>
			<key>originY</key>
			<string>174</string>
			<key>width</key>
			<string>49</string>
			<key>height</key>
			<string>81</string>
			<key>number</key>
			<string>4</string>
		</dict>
		<key>stand_right</key>
		<dict>
			<key>originX</key>
			<string>1036</string>
			<key>originY</key>
			<string>174</string>
			<key>width</key>
			<string>122</string>
			<key>height</key>
			<string>60</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>255</string>
			<key>width</key>
			<string>130</string>
			<key>height</key>
			<string>66</string>
			<key>number</key>
			<string>4</string>
		</dict>
		<key>walk_leftUp</key>
		<dict>
			<key>originX</key>
			<string>520</string>
			<key>originY</key>
			<string>255</string>
			<key>width</key>
			<string>101</string>
			<key>height</key>
			<string>92</string>
			<key>number</key>
			<string>4</string>
		</dict>
		<key>walk_down</key>
		<dict>
			<key>originX</key>
			<string>924</string>
			<key>originY</key>
			<string>255</string>
			<key>width</key>
			<string>34</string>
			<key>height</key>
			<string>79</string>
			<key>number</key>
			<string>5</string>
		</dict>
		<key>rest_up</key>
		<dict>
			<key>originX</key>
			<string>1094</string>
			<key>originY</key>
			<string>255</string>
			<key>width</key>
			<string>54</string>
			<key>height</key>
			<string>79</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>347</string>
			<key>width</key>
			<string>95</string>
			<key>height</key>
			<string>69</string>
			<key>number</key>
			<string>4</string>
		</dict>
		<key>pose</key>
		<dict>
			<key>originX</key>
			<string>380</string>
			<key>originY</key>
			<string>347</string>
			<key>width</key>
			<string>130</string>
			<key>height</key>
			<string>66</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_left</key>
		<dict>
			<key>originX</key>
			<string>510</string>
			<key>originY</key>
			<string>347</string>
			<key>width</key>
			<string>123</string>
			<key>height</key>
			<string>42</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>stand_left</key>
		<dict>
			<key>originX</key>
			<string>633</string>
			<key>originY</key>
			<string>347</string>
			<key>width</key>
			<string>122</string>
			<key>height</key>
			<string>60</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_left</key>
		<dict>
			<key>originX</key>
			<string>755</string>
			<key>originY</key>
			<string>347</string>
			<key>width</key>
			<string>117</string>
			<key>height</key>
			<string>31</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_leftUp</key>
		<dict>
			<key>originX</key>
			<string>872</string>
			<key>originY</key>
			<string>347</string>
			<key>width</key>
			<string>95</string>
			<key>height</key>
			<string>79</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftDown</key>
		<dict>
			<key>originX</key>
			<string>967</string>
			<key>originY</key>
			<string>347</string>
			<key>width</key>
			<string>91</string>
			<key>height</key>
			<string>45</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_leftDown</key>
		<dict>
			<key>originX</key>
			<string>1058</string>
			<key>originY</key>
			<string>347</string>
			<key>width</key>
			<string>90</string>
			<key>height</key>
			<string>45</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>426</string>
			<key>width</key>
			<string>71</string>
			<key>height</key>
			<string>73</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_down</key>
		<dict>
			<key>originX</key>
			<string>71</string>
			<key>originY</key>
			<string>426</string>
			<key>width</key>
			<string>31</string>
			<key>height</key>
			<string>59</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_up</key>
		<dict>
			<key>originX</key>
			<string>102</string>
			<key>originY</key>
			<string>426</string>
			<key>width</key>
			<string>30</string>
			<key>height</key>
			<string>80</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_down</key>
		<dict>
			<key>originX</key>
			<string>132</string>
			<key>originY</key>
			<string>426</string>
			<key>width</key>
			<string>29</string>
			<key>height</key>
			<string>58</string>
			<key>number</key>
			<string>1</string>
		</dict>
	</dict>
</dict>