<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>snake</key>
	<dict>
		<key>maxItems</key><string>8</string>
		<key>eat</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>130</string>
			<key>height</key>
			<string>39</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>walk_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>39</string>
			<key>width</key>
			<string>120</string>
			<key>height</key>
			<string>26</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>walk_rightUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>65</string>
			<key>width</key>
			<string>80</string>
			<key>height</key>
			<string>27</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>walk_down</key>
		<dict>
			<key>originX</key>
			<string>480</string>
			<key>originY</key>
			<string>65</string>
			<key>width</key>
			<string>25</string>
			<key>height</key>
			<string>42</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>sleep_up</key>
		<dict>
			<key>originX</key>
			<string>630</string>
			<key>originY</key>
			<string>65</string>
			<key>width</key>
			<string>130</string>
			<key>height</key>
			<string>39</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>107</string>
			<key>width</key>
			<string>80</string>
			<key>height</key>
			<string>43</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>sleep_leftUp</key>
		<dict>
			<key>originX</key>
			<string>480</string>
			<key>originY</key>
			<string>107</string>
			<key>width</key>
			<string>130</string>
			<key>height</key>
			<string>39</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep_leftDown</key>
		<dict>
			<key>originX</key>
			<string>610</string>
			<key>originY</key>
			<string>107</string>
			<key>width</key>
			<string>130</string>
			<key>height</key>
			<string>39</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>150</string>
			<key>width</key>
			<string>60</string>
			<key>height</key>
			<string>55</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>sleep_left</key>
		<dict>
			<key>originX</key>
			<string>360</string>
			<key>originY</key>
			<string>150</string>
			<key>width</key>
			<string>130</string>
			<key>height</key>
			<string>39</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep_down</key>
		<dict>
			<key>originX</key>
			<string>490</string>
			<key>originY</key>
			<string>150</string>
			<key>width</key>
			<string>130</string>
			<key>height</key>
			<string>39</string>
			<key>number</key>
			<string>1</string>
		</dict>
	</dict>
</dict>