<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>duck</key>
	<dict>
		<key>maxItems</key><string>8</string>
		<key>eat</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>85</string>
			<key>height</key>
			<string>62</string>
			<key>number</key>
			<string>17</string>
		</dict>
		<key>walk_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>186</string>
			<key>width</key>
			<string>70</string>
			<key>height</key>
			<string>55</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>pose</key>
		<dict>
			<key>originX</key>
			<string>560</string>
			<key>originY</key>
			<string>186</string>
			<key>width</key>
			<string>70</string>
			<key>height</key>
			<string>55</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>swim_leftDown</key>
		<dict>
			<key>originX</key>
			<string>630</string>
			<key>originY</key>
			<string>186</string>
			<key>width</key>
			<string>50</string>
			<key>height</key>
			<string>51</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>296</string>
			<key>width</key>
			<string>65</string>
			<key>height</key>
			<string>68</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>ill_left</key>
		<dict>
			<key>originX</key>
			<string>520</string>
			<key>originY</key>
			<string>296</string>
			<key>width</key>
			<string>70</string>
			<key>height</key>
			<string>27</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>swim_left</key>
		<dict>
			<key>originX</key>
			<string>590</string>
			<key>originY</key>
			<string>296</string>
			<key>width</key>
			<string>62</string>
			<key>height</key>
			<string>48</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>swim_up</key>
		<dict>
			<key>originX</key>
			<string>652</string>
			<key>originY</key>
			<string>296</string>
			<key>width</key>
			<string>26</string>
			<key>height</key>
			<string>59</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>432</string>
			<key>width</key>
			<string>55</string>
			<key>height</key>
			<string>73</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>walk_up</key>
		<dict>
			<key>originX</key>
			<string>440</string>
			<key>originY</key>
			<string>432</string>
			<key>width</key>
			<string>30</string>
			<key>height</key>
			<string>75</string>
			<key>number</key>
			<string>9</string>
		</dict>
		<key>walk_down</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>582</string>
			<key>width</key>
			<string>30</string>
			<key>height</key>
			<string>82</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>ill_leftDown</key>
		<dict>
			<key>originX</key>
			<string>240</string>
			<key>originY</key>
			<string>582</string>
			<key>width</key>
			<string>60</string>
			<key>height</key>
			<string>38</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep</key>
		<dict>
			<key>originX</key>
			<string>300</string>
			<key>originY</key>
			<string>582</string>
			<key>width</key>
			<string>59</string>
			<key>height</key>
			<string>44</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftUp</key>
		<dict>
			<key>originX</key>
			<string>359</string>
			<key>originY</key>
			<string>582</string>
			<key>width</key>
			<string>50</string>
			<key>height</key>
			<string>40</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>swim_leftUp</key>
		<dict>
			<key>originX</key>
			<string>409</string>
			<key>originY</key>
			<string>582</string>
			<key>width</key>
			<string>45</string>
			<key>height</key>
			<string>57</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_up</key>
		<dict>
			<key>originX</key>
			<string>454</string>
			<key>originY</key>
			<string>582</string>
			<key>width</key>
			<string>35</string>
			<key>height</key>
			<string>42</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>swim_down</key>
		<dict>
			<key>originX</key>
			<string>489</string>
			<key>originY</key>
			<string>582</string>
			<key>width</key>
			<string>26</string>
			<key>height</key>
			<string>50</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_down</key>
		<dict>
			<key>originX</key>
			<string>515</string>
			<key>originY</key>
			<string>582</string>
			<key>width</key>
			<string>24</string>
			<key>height</key>
			<string>44</string>
			<key>number</key>
			<string>1</string>
		</dict>
	</dict>
</dict>