<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>parrot_2</key>
	<dict>
		<key>maxItems</key><string>12</string>
		<key>transition_down</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>93</string>
			<key>height</key>
			<string>67</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>transition_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>67</string>
			<key>width</key>
			<string>90</string>
			<key>height</key>
			<string>84</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>transition_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>151</string>
			<key>width</key>
			<string>76</string>
			<key>height</key>
			<string>70</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>transition_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>221</string>
			<key>width</key>
			<string>76</string>
			<key>height</key>
			<string>90</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>transition_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>311</string>
			<key>width</key>
			<string>74</string>
			<key>height</key>
			<string>87</string>
			<key>number</key>
			<string>6</string>
		</dict>
	</dict>
</dict>