<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>babypeacock</key>
	<dict>
		<key>eat</key>
		<dict>
			<key>height</key>
			<string>18</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>26</string>
		</dict>
		<key>ill_down</key>
		<dict>
			<key>height</key>
			<string>17</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>246</string>
			<key>originY</key>
			<string>37</string>
			<key>width</key>
			<string>13</string>
		</dict>
		<key>ill_left</key>
		<dict>
			<key>height</key>
			<string>13</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>240</string>
			<key>originY</key>
			<string>18</string>
			<key>width</key>
			<string>20</string>
		</dict>
		<key>ill_leftDown</key>
		<dict>
			<key>height</key>
			<string>13</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>213</string>
			<key>originY</key>
			<string>58</string>
			<key>width</key>
			<string>22</string>
		</dict>
		<key>ill_leftUp</key>
		<dict>
			<key>height</key>
			<string>18</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>77</string>
			<key>originY</key>
			<string>105</string>
			<key>width</key>
			<string>10</string>
		</dict>
		<key>ill_up</key>
		<dict>
			<key>height</key>
			<string>15</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>105</string>
			<key>width</key>
			<string>19</string>
		</dict>
		<key>maxItems</key>
		<string>20</string>
		<key>pose</key>
		<dict>
			<key>height</key>
			<string>19</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>190</string>
			<key>originY</key>
			<string>58</string>
			<key>width</key>
			<string>23</string>
		</dict>
		<key>rest_down</key>
		<dict>
			<key>height</key>
			<string>20</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>65</string>
			<key>originY</key>
			<string>105</string>
			<key>width</key>
			<string>12</string>
		</dict>
		<key>rest_left</key>
		<dict>
			<key>height</key>
			<string>15</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>19</string>
			<key>originY</key>
			<string>105</string>
			<key>width</key>
			<string>18</string>
		</dict>
		<key>rest_leftDown</key>
		<dict>
			<key>height</key>
			<string>19</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>53</string>
			<key>originY</key>
			<string>105</string>
			<key>width</key>
			<string>12</string>
		</dict>
		<key>rest_leftUp</key>
		<dict>
			<key>height</key>
			<string>15</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>37</string>
			<key>originY</key>
			<string>105</string>
			<key>width</key>
			<string>16</string>
		</dict>
		<key>rest_up</key>
		<dict>
			<key>height</key>
			<string>14</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>235</string>
			<key>originY</key>
			<string>58</string>
			<key>width</key>
			<string>21</string>
		</dict>
		<key>stand_left</key>
		<dict>
			<key>height</key>
			<string>19</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>223</string>
			<key>originY</key>
			<string>37</string>
			<key>width</key>
			<string>23</string>
		</dict>
		<key>stand_right</key>
		<dict>
			<key>height</key>
			<string>19</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>200</string>
			<key>originY</key>
			<string>37</string>
			<key>width</key>
			<string>23</string>
		</dict>
		<key>walk_down</key>
		<dict>
			<key>height</key>
			<string>23</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>130</string>
			<key>originY</key>
			<string>81</string>
			<key>width</key>
			<string>13</string>
		</dict>
		<key>walk_left</key>
		<dict>
			<key>height</key>
			<string>19</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>18</string>
			<key>width</key>
			<string>24</string>
		</dict>
		<key>walk_leftDown</key>
		<dict>
			<key>height</key>
			<string>21</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>37</string>
			<key>width</key>
			<string>20</string>
		</dict>
		<key>walk_leftUp</key>
		<dict>
			<key>height</key>
			<string>23</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>58</string>
			<key>width</key>
			<string>19</string>
		</dict>
		<key>walk_up</key>
		<dict>
			<key>height</key>
			<string>24</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>81</string>
			<key>width</key>
			<string>13</string>
		</dict>
	</dict>
</dict>
</plist>
