<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>babymagpie</key>
	<dict>
		<key>maxItems</key>
		<string>20</string>
		<key>pose</key>
		<dict>
			<key>height</key>
			<string>20</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>20</string>
			<key>width</key>
			<string>16</string>
		</dict>
		<key>stop</key>
		<dict>
			<key>height</key>
			<string>20</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>16</string>
		</dict>
	</dict>
</dict>
</plist>
