<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chinemy</key>
	<dict>
		<key>maxItems</key>
		<string>12</string>
		<key>walk_down</key>
		<dict>
			<key>height</key>
			<string>22</string>
			<key>number</key>
			<string>16</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>172</string>
			<key>width</key>
			<string>27</string>
		</dict>
		<key>walk_leftDown</key>
		<dict>
			<key>height</key>
			<string>20</string>
			<key>number</key>
			<string>18</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>78</string>
			<key>width</key>
			<string>34</string>
		</dict>
		<key>walk_left</key>
		<dict>
			<key>height</key>
			<string>19</string>
			<key>number</key>
			<string>18</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>38</string>
		</dict>
		<key>walk_up</key>
		<dict>
			<key>height</key>
			<string>27</string>
			<key>number</key>
			<string>18</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>118</string>
			<key>width</key>
			<string>27</string>
		</dict>
		<key>walk_leftUp</key>
		<dict>
			<key>height</key>
			<string>20</string>
			<key>number</key>
			<string>16</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>38</string>
			<key>width</key>
			<string>34</string>
		</dict>
	</dict>
</dict>
</plist>
