<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crane_1</key>
	<dict>
		<key>fly_down</key>
		<dict>
			<key>height</key>
			<string>60</string>
			<key>number</key>
			<string>4</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>73</string>
		</dict>
		<key>fly_left</key>
		<dict>
			<key>height</key>
			<string>66</string>
			<key>number</key>
			<string>4</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>232</string>
			<key>width</key>
			<string>53</string>
		</dict>
		<key>fly_leftDown</key>
		<dict>
			<key>height</key>
			<string>62</string>
			<key>number</key>
			<string>4</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>170</string>
			<key>width</key>
			<string>56</string>
		</dict>
		<key>fly_leftUp</key>
		<dict>
			<key>height</key>
			<string>60</string>
			<key>number</key>
			<string>4</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>110</string>
			<key>width</key>
			<string>59</string>
		</dict>
		<key>fly_up</key>
		<dict>
			<key>height</key>
			<string>50</string>
			<key>number</key>
			<string>4</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>60</string>
			<key>width</key>
			<string>66</string>
		</dict>
		<key>maxItems</key>
		<string>20</string>
		<key>pose</key>
		<dict>
			<key>height</key>
			<string>43</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>224</string>
			<key>originY</key>
			<string>170</string>
			<key>width</key>
			<string>35</string>
		</dict>
		<key>rest_down</key>
		<dict>
			<key>height</key>
			<string>46</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>212</string>
			<key>originY</key>
			<string>232</string>
			<key>width</key>
			<string>14</string>
		</dict>
		<key>rest_left</key>
		<dict>
			<key>height</key>
			<string>43</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>236</string>
			<key>originY</key>
			<string>110</string>
			<key>width</key>
			<string>35</string>
		</dict>
		<key>rest_leftDown</key>
		<dict>
			<key>height</key>
			<string>42</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>259</string>
			<key>originY</key>
			<string>170</string>
			<key>width</key>
			<string>27</string>
		</dict>
		<key>rest_leftUp</key>
		<dict>
			<key>height</key>
			<string>46</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>264</string>
			<key>originY</key>
			<string>60</string>
			<key>width</key>
			<string>27</string>
		</dict>
		<key>rest_up</key>
		<dict>
			<key>height</key>
			<string>46</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>271</string>
			<key>originY</key>
			<string>110</string>
			<key>width</key>
			<string>14</string>
		</dict>
	</dict>
</dict>
</plist>
