<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>crane_3</key>
	<dict>
		<key>maxItems</key><string>20</string>
		<key>transition_down</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>73</string>
			<key>height</key>
			<string>60</string>
			<key>number</key>
			<string>4</string>
		</dict>
		<key>transition_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>60</string>
			<key>width</key>
			<string>66</string>
			<key>height</key>
			<string>50</string>
			<key>number</key>
			<string>4</string>
		</dict>
		<key>transition_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>110</string>
			<key>width</key>
			<string>59</string>
			<key>height</key>
			<string>60</string>
			<key>number</key>
			<string>4</string>
		</dict>
		<key>transition_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>170</string>
			<key>width</key>
			<string>56</string>
			<key>height</key>
			<string>62</string>
			<key>number</key>
			<string>4</string>
		</dict>
		<key>transition_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>232</string>
			<key>width</key>
			<string>53</string>
			<key>height</key>
			<string>66</string>
			<key>number</key>
			<string>4</string>
		</dict>
	</dict>
</dict>