<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>babyCrane_1</key>
	<dict>
		<key>maxItems</key><string>20</string>
		<key>eat</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>34</string>
			<key>height</key>
			<string>24</string>
			<key>number</key>
			<string>10</string>
		</dict>
	</dict>
</dict>