<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>crane_2</key>
	<dict>
		<key>maxItems</key><string>20</string>
		<key>landing_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>80</string>
			<key>height</key>
			<string>60</string>
			<key>number</key>
			<string>4</string>
		</dict>
		<key>landing_down</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>60</string>
			<key>width</key>
			<string>73</string>
			<key>height</key>
			<string>55</string>
			<key>number</key>
			<string>4</string>
		</dict>
		<key>ill_up</key>
		<dict>
			<key>originX</key>
			<string>292</string>
			<key>originY</key>
			<string>60</string>
			<key>width</key>
			<string>13</string>
			<key>height</key>
			<string>34</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_down</key>
		<dict>
			<key>originX</key>
			<string>305</string>
			<key>originY</key>
			<string>60</string>
			<key>width</key>
			<string>13</string>
			<key>height</key>
			<string>31</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>landing_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>115</string>
			<key>width</key>
			<string>66</string>
			<key>height</key>
			<string>62</string>
			<key>number</key>
			<string>4</string>
		</dict>
		<key>walk_up</key>
		<dict>
			<key>originX</key>
			<string>264</string>
			<key>originY</key>
			<string>115</string>
			<key>width</key>
			<string>13</string>
			<key>height</key>
			<string>50</string>
			<key>number</key>
			<string>4</string>
		</dict>
		<key>landing_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>177</string>
			<key>width</key>
			<string>56</string>
			<key>height</key>
			<string>65</string>
			<key>number</key>
			<string>4</string>
		</dict>
		<key>walk_down</key>
		<dict>
			<key>originX</key>
			<string>224</string>
			<key>originY</key>
			<string>177</string>
			<key>width</key>
			<string>13</string>
			<key>height</key>
			<string>50</string>
			<key>number</key>
			<string>4</string>
		</dict>
		<key>ill_left</key>
		<dict>
			<key>originX</key>
			<string>276</string>
			<key>originY</key>
			<string>177</string>
			<key>width</key>
			<string>39</string>
			<key>height</key>
			<string>24</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>eat</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>242</string>
			<key>width</key>
			<string>47</string>
			<key>height</key>
			<string>32</string>
			<key>number</key>
			<string>4</string>
		</dict>
		<key>walk_leftDown</key>
		<dict>
			<key>originX</key>
			<string>188</string>
			<key>originY</key>
			<string>242</string>
			<key>width</key>
			<string>32</string>
			<key>height</key>
			<string>50</string>
			<key>number</key>
			<string>4</string>
		</dict>
		<key>walk_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>292</string>
			<key>width</key>
			<string>37</string>
			<key>height</key>
			<string>46</string>
			<key>number</key>
			<string>5</string>
		</dict>
		<key>walk_leftUp</key>
		<dict>
			<key>originX</key>
			<string>185</string>
			<key>originY</key>
			<string>292</string>
			<key>width</key>
			<string>28</string>
			<key>height</key>
			<string>50</string>
			<key>number</key>
			<string>4</string>
		</dict>
		<key>landing_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>342</string>
			<key>width</key>
			<string>43</string>
			<key>height</key>
			<string>64</string>
			<key>number</key>
			<string>4</string>
		</dict>
		<key>ill_leftUp</key>
		<dict>
			<key>originX</key>
			<string>172</string>
			<key>originY</key>
			<string>342</string>
			<key>width</key>
			<string>33</string>
			<key>height</key>
			<string>33</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftDown</key>
		<dict>
			<key>originX</key>
			<string>205</string>
			<key>originY</key>
			<string>342</string>
			<key>width</key>
			<string>32</string>
			<key>height</key>
			<string>30</string>
			<key>number</key>
			<string>1</string>
		</dict>
	</dict>
</dict>