<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>wildgoose_1</key>
	<dict>
		<key>maxItems</key><string>20</string>
		<key>landing_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>96</string>
			<key>height</key>
			<string>73</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>fly_down</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>73</string>
			<key>width</key>
			<string>74</string>
			<key>height</key>
			<string>49</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>pose</key>
		<dict>
			<key>originX</key>
			<string>444</string>
			<key>originY</key>
			<string>73</string>
			<key>width</key>
			<string>33</string>
			<key>height</key>
			<string>27</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftUp</key>
		<dict>
			<key>originX</key>
			<string>477</string>
			<key>originY</key>
			<string>73</string>
			<key>width</key>
			<string>33</string>
			<key>height</key>
			<string>29</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_left</key>
		<dict>
			<key>originX</key>
			<string>510</string>
			<key>originY</key>
			<string>73</string>
			<key>width</key>
			<string>33</string>
			<key>height</key>
			<string>21</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftDown</key>
		<dict>
			<key>originX</key>
			<string>543</string>
			<key>originY</key>
			<string>73</string>
			<key>width</key>
			<string>27</string>
			<key>height</key>
			<string>26</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>fly_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>122</string>
			<key>width</key>
			<string>73</string>
			<key>height</key>
			<string>44</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>ill_down</key>
		<dict>
			<key>originX</key>
			<string>438</string>
			<key>originY</key>
			<string>122</string>
			<key>width</key>
			<string>22</string>
			<key>height</key>
			<string>27</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_up</key>
		<dict>
			<key>originX</key>
			<string>460</string>
			<key>originY</key>
			<string>122</string>
			<key>width</key>
			<string>20</string>
			<key>height</key>
			<string>36</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>landing_down</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>166</string>
			<key>width</key>
			<string>71</string>
			<key>height</key>
			<string>35</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>landing_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>201</string>
			<key>width</key>
			<string>69</string>
			<key>height</key>
			<string>48</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>landing_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>249</string>
			<key>width</key>
			<string>64</string>
			<key>height</key>
			<string>32</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>fly_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>281</string>
			<key>width</key>
			<string>64</string>
			<key>height</key>
			<string>52</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>fly_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>333</string>
			<key>width</key>
			<string>60</string>
			<key>height</key>
			<string>57</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>landing_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>390</string>
			<key>width</key>
			<string>52</string>
			<key>height</key>
			<string>56</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>eat</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>446</string>
			<key>width</key>
			<string>48</string>
			<key>height</key>
			<string>34</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>fly_left</key>
		<dict>
			<key>originX</key>
			<string>288</string>
			<key>originY</key>
			<string>446</string>
			<key>width</key>
			<string>46</string>
			<key>height</key>
			<string>66</string>
			<key>number</key>
			<string>6</string>
		</dict>
	</dict>
</dict>