<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>wildgoose_2</key>
	<dict>
		<key>maxItems</key><string>20</string>
		<key>transition_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>74</string>
			<key>height</key>
			<string>46</string>
			<key>number</key>
			<string>8</string>
		</dict>
		<key>transition_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>46</string>
			<key>width</key>
			<string>67</string>
			<key>height</key>
			<string>57</string>
			<key>number</key>
			<string>8</string>
		</dict>
		<key>sleep_left</key>
		<dict>
			<key>originX</key>
			<string>536</string>
			<key>originY</key>
			<string>46</string>
			<key>width</key>
			<string>33</string>
			<key>height</key>
			<string>27</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep_up</key>
		<dict>
			<key>originX</key>
			<string>569</string>
			<key>originY</key>
			<string>46</string>
			<key>width</key>
			<string>20</string>
			<key>height</key>
			<string>46</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>transition_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>103</string>
			<key>width</key>
			<string>62</string>
			<key>height</key>
			<string>58</string>
			<key>number</key>
			<string>8</string>
		</dict>
		<key>sleep_leftUp</key>
		<dict>
			<key>originX</key>
			<string>496</string>
			<key>originY</key>
			<string>103</string>
			<key>width</key>
			<string>28</string>
			<key>height</key>
			<string>35</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep_leftDown</key>
		<dict>
			<key>originX</key>
			<string>524</string>
			<key>originY</key>
			<string>103</string>
			<key>width</key>
			<string>28</string>
			<key>height</key>
			<string>32</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep_down</key>
		<dict>
			<key>originX</key>
			<string>552</string>
			<key>originY</key>
			<string>103</string>
			<key>width</key>
			<string>20</string>
			<key>height</key>
			<string>39</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>transition_down</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>161</string>
			<key>width</key>
			<string>75</string>
			<key>height</key>
			<string>46</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>walk_down</key>
		<dict>
			<key>originX</key>
			<string>450</string>
			<key>originY</key>
			<string>161</string>
			<key>width</key>
			<string>18</string>
			<key>height</key>
			<string>44</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>transition_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>207</string>
			<key>width</key>
			<string>54</string>
			<key>height</key>
			<string>60</string>
			<key>number</key>
			<string>8</string>
		</dict>
		<key>walk_leftDown</key>
		<dict>
			<key>originX</key>
			<string>432</string>
			<key>originY</key>
			<string>207</string>
			<key>width</key>
			<string>25</string>
			<key>height</key>
			<string>40</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>walk_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>267</string>
			<key>width</key>
			<string>36</string>
			<key>height</key>
			<string>39</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>walk_leftUp</key>
		<dict>
			<key>originX</key>
			<string>216</string>
			<key>originY</key>
			<string>267</string>
			<key>width</key>
			<string>29</string>
			<key>height</key>
			<string>43</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>walk_up</key>
		<dict>
			<key>originX</key>
			<string>390</string>
			<key>originY</key>
			<string>267</string>
			<key>width</key>
			<string>17</string>
			<key>height</key>
			<string>44</string>
			<key>number</key>
			<string>6</string>
		</dict>
	</dict>
</dict>