<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>babyHen</key>
	<dict>
		<key>maxItems</key><string>20</string>
		<key>eat_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>20</string>
			<key>height</key>
			<string>15</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>walk_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>15</string>
			<key>width</key>
			<string>19</string>
			<key>height</key>
			<string>17</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>rest_leftUp</key>
		<dict>
			<key>originX</key>
			<string>190</string>
			<key>originY</key>
			<string>15</string>
			<key>width</key>
			<string>10</string>
			<key>height</key>
			<string>16</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>eat_leftback</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>32</string>
			<key>width</key>
			<string>19</string>
			<key>height</key>
			<string>16</string>
			<key>number</key>
			<string>9</string>
		</dict>
		<key>rest_leftDown</key>
		<dict>
			<key>originX</key>
			<string>171</string>
			<key>originY</key>
			<string>32</string>
			<key>width</key>
			<string>19</string>
			<key>height</key>
			<string>13</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_down</key>
		<dict>
			<key>originX</key>
			<string>190</string>
			<key>originY</key>
			<string>32</string>
			<key>width</key>
			<string>10</string>
			<key>height</key>
			<string>17</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>eat_leftfront</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>49</string>
			<key>width</key>
			<string>17</string>
			<key>height</key>
			<string>16</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>pose</key>
		<dict>
			<key>originX</key>
			<string>170</string>
			<key>originY</key>
			<string>49</string>
			<key>width</key>
			<string>19</string>
			<key>height</key>
			<string>13</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftUp</key>
		<dict>
			<key>originX</key>
			<string>189</string>
			<key>originY</key>
			<string>49</string>
			<key>width</key>
			<string>10</string>
			<key>height</key>
			<string>16</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>65</string>
			<key>width</key>
			<string>16</string>
			<key>height</key>
			<string>19</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>ill_leftDown</key>
		<dict>
			<key>originX</key>
			<string>160</string>
			<key>originY</key>
			<string>65</string>
			<key>width</key>
			<string>19</string>
			<key>height</key>
			<string>13</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_left</key>
		<dict>
			<key>originX</key>
			<string>179</string>
			<key>originY</key>
			<string>65</string>
			<key>width</key>
			<string>17</string>
			<key>height</key>
			<string>14</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_leftback</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>84</string>
			<key>width</key>
			<string>13</string>
			<key>height</key>
			<string>19</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>rest_up</key>
		<dict>
			<key>originX</key>
			<string>130</string>
			<key>originY</key>
			<string>84</string>
			<key>width</key>
			<string>15</string>
			<key>height</key>
			<string>14</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_left</key>
		<dict>
			<key>originX</key>
			<string>145</string>
			<key>originY</key>
			<string>84</string>
			<key>width</key>
			<string>15</string>
			<key>height</key>
			<string>14</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_up</key>
		<dict>
			<key>originX</key>
			<string>160</string>
			<key>originY</key>
			<string>84</string>
			<key>width</key>
			<string>15</string>
			<key>height</key>
			<string>15</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_down</key>
		<dict>
			<key>originX</key>
			<string>175</string>
			<key>originY</key>
			<string>84</string>
			<key>width</key>
			<string>10</string>
			<key>height</key>
			<string>16</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>eat_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>103</string>
			<key>width</key>
			<string>12</string>
			<key>height</key>
			<string>20</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>walk_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>123</string>
			<key>width</key>
			<string>11</string>
			<key>height</key>
			<string>20</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>walk_down</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>143</string>
			<key>width</key>
			<string>11</string>
			<key>height</key>
			<string>20</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>eat_down</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>163</string>
			<key>width</key>
			<string>10</string>
			<key>height</key>
			<string>20</string>
			<key>number</key>
			<string>10</string>
		</dict>
	</dict>
</dict>