<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>goose</key>
	<dict>
		<key>maxItems</key><string>20</string>
		<key>eat</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>29</string>
			<key>height</key>
			<string>23</string>
			<key>number</key>
			<string>9</string>
		</dict>
		<key>walk_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>23</string>
			<key>width</key>
			<string>17</string>
			<key>height</key>
			<string>21</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>walk_up</key>
		<dict>
			<key>originX</key>
			<string>170</string>
			<key>originY</key>
			<string>23</string>
			<key>width</key>
			<string>9</string>
			<key>height</key>
			<string>26</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>walk_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>49</string>
			<key>width</key>
			<string>16</string>
			<key>height</key>
			<string>26</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>walk_down</key>
		<dict>
			<key>originX</key>
			<string>160</string>
			<key>originY</key>
			<string>49</string>
			<key>width</key>
			<string>9</string>
			<key>height</key>
			<string>21</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>ill_up</key>
		<dict>
			<key>originX</key>
			<string>250</string>
			<key>originY</key>
			<string>49</string>
			<key>width</key>
			<string>11</string>
			<key>height</key>
			<string>18</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>75</string>
			<key>width</key>
			<string>14</string>
			<key>height</key>
			<string>23</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>ill_left</key>
		<dict>
			<key>originX</key>
			<string>140</string>
			<key>originY</key>
			<string>75</string>
			<key>width</key>
			<string>19</string>
			<key>height</key>
			<string>11</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>swimming_left</key>
		<dict>
			<key>originX</key>
			<string>159</string>
			<key>originY</key>
			<string>75</string>
			<key>width</key>
			<string>17</string>
			<key>height</key>
			<string>15</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftUp</key>
		<dict>
			<key>originX</key>
			<string>176</string>
			<key>originY</key>
			<string>75</string>
			<key>width</key>
			<string>16</string>
			<key>height</key>
			<string>13</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep_left</key>
		<dict>
			<key>originX</key>
			<string>192</string>
			<key>originY</key>
			<string>75</string>
			<key>width</key>
			<string>14</string>
			<key>height</key>
			<string>14</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>pose</key>
		<dict>
			<key>originX</key>
			<string>206</string>
			<key>originY</key>
			<string>75</string>
			<key>width</key>
			<string>14</string>
			<key>height</key>
			<string>14</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftDown</key>
		<dict>
			<key>originX</key>
			<string>220</string>
			<key>originY</key>
			<string>75</string>
			<key>width</key>
			<string>14</string>
			<key>height</key>
			<string>12</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>swimming_leftUp</key>
		<dict>
			<key>originX</key>
			<string>234</string>
			<key>originY</key>
			<string>75</string>
			<key>width</key>
			<string>13</string>
			<key>height</key>
			<string>16</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>swimming_leftDown</key>
		<dict>
			<key>originX</key>
			<string>247</string>
			<key>originY</key>
			<string>75</string>
			<key>width</key>
			<string>13</string>
			<key>height</key>
			<string>14</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>98</string>
			<key>width</key>
			<string>13</string>
			<key>height</key>
			<string>16</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep_leftDown</key>
		<dict>
			<key>originX</key>
			<string>13</string>
			<key>originY</key>
			<string>98</string>
			<key>width</key>
			<string>12</string>
			<key>height</key>
			<string>16</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_down</key>
		<dict>
			<key>originX</key>
			<string>25</string>
			<key>originY</key>
			<string>98</string>
			<key>width</key>
			<string>12</string>
			<key>height</key>
			<string>16</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>swimming_up</key>
		<dict>
			<key>originX</key>
			<string>37</string>
			<key>originY</key>
			<string>98</string>
			<key>width</key>
			<string>9</string>
			<key>height</key>
			<string>17</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep_up</key>
		<dict>
			<key>originX</key>
			<string>46</string>
			<key>originY</key>
			<string>98</string>
			<key>width</key>
			<string>9</string>
			<key>height</key>
			<string>19</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep_down</key>
		<dict>
			<key>originX</key>
			<string>55</string>
			<key>originY</key>
			<string>98</string>
			<key>width</key>
			<string>9</string>
			<key>height</key>
			<string>14</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>swimming_down</key>
		<dict>
			<key>originX</key>
			<string>64</string>
			<key>originY</key>
			<string>98</string>
			<key>width</key>
			<string>8</string>
			<key>height</key>
			<string>16</string>
			<key>number</key>
			<string>1</string>
		</dict>
	</dict>
</dict>