<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>mallard</key>
	<dict>
		<key>maxItems</key><string>20</string>
		<key>transition_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>42</string>
			<key>height</key>
			<string>32</string>
			<key>number</key>
			<string>11</string>
		</dict>
		<key>transition_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>32</string>
			<key>width</key>
			<string>46</string>
			<key>height</key>
			<string>38</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>transition_down</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>70</string>
			<key>width</key>
			<string>46</string>
			<key>height</key>
			<string>22</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>transition_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>92</string>
			<key>width</key>
			<string>42</string>
			<key>height</key>
			<string>23</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>ill_left</key>
		<dict>
			<key>originX</key>
			<string>420</string>
			<key>originY</key>
			<string>92</string>
			<key>width</key>
			<string>39</string>
			<key>height</key>
			<string>14</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>transition_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>115</string>
			<key>width</key>
			<string>36</string>
			<key>height</key>
			<string>39</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>walk_up</key>
		<dict>
			<key>originX</key>
			<string>360</string>
			<key>originY</key>
			<string>115</string>
			<key>width</key>
			<string>15</string>
			<key>height</key>
			<string>35</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>eat</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>154</string>
			<key>width</key>
			<string>43</string>
			<key>height</key>
			<string>29</string>
			<key>number</key>
			<string>7</string>
		</dict>
		<key>walk_down</key>
		<dict>
			<key>originX</key>
			<string>301</string>
			<key>originY</key>
			<string>154</string>
			<key>width</key>
			<string>15</string>
			<key>height</key>
			<string>35</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>swimming_left</key>
		<dict>
			<key>originX</key>
			<string>391</string>
			<key>originY</key>
			<string>154</string>
			<key>width</key>
			<string>36</string>
			<key>height</key>
			<string>17</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftUp</key>
		<dict>
			<key>originX</key>
			<string>427</string>
			<key>originY</key>
			<string>154</string>
			<key>width</key>
			<string>34</string>
			<key>height</key>
			<string>17</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>landing_leftdown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>189</string>
			<key>width</key>
			<string>49</string>
			<key>height</key>
			<string>42</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>pose</key>
		<dict>
			<key>originX</key>
			<string>294</string>
			<key>originY</key>
			<string>189</string>
			<key>width</key>
			<string>36</string>
			<key>height</key>
			<string>27</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>swimming_leftUp</key>
		<dict>
			<key>originX</key>
			<string>330</string>
			<key>originY</key>
			<string>189</string>
			<key>width</key>
			<string>29</string>
			<key>height</key>
			<string>20</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep_left</key>
		<dict>
			<key>originX</key>
			<string>359</string>
			<key>originY</key>
			<string>189</string>
			<key>width</key>
			<string>29</string>
			<key>height</key>
			<string>19</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>swimming_leftDown</key>
		<dict>
			<key>originX</key>
			<string>388</string>
			<key>originY</key>
			<string>189</string>
			<key>width</key>
			<string>27</string>
			<key>height</key>
			<string>18</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftDown</key>
		<dict>
			<key>originX</key>
			<string>415</string>
			<key>originY</key>
			<string>189</string>
			<key>width</key>
			<string>27</string>
			<key>height</key>
			<string>19</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep_leftDown</key>
		<dict>
			<key>originX</key>
			<string>442</string>
			<key>originY</key>
			<string>189</string>
			<key>width</key>
			<string>20</string>
			<key>height</key>
			<string>19</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>landing_down</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>231</string>
			<key>width</key>
			<string>46</string>
			<key>height</key>
			<string>25</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>walk_leftUp</key>
		<dict>
			<key>originX</key>
			<string>276</string>
			<key>originY</key>
			<string>231</string>
			<key>width</key>
			<string>29</string>
			<key>height</key>
			<string>34</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>fly_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>265</string>
			<key>width</key>
			<string>46</string>
			<key>height</key>
			<string>22</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>walk_leftDown</key>
		<dict>
			<key>originX</key>
			<string>276</string>
			<key>originY</key>
			<string>265</string>
			<key>width</key>
			<string>29</string>
			<key>height</key>
			<string>30</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>fly_leftdown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>295</string>
			<key>width</key>
			<string>46</string>
			<key>height</key>
			<string>35</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>sleep_leftUp</key>
		<dict>
			<key>originX</key>
			<string>276</string>
			<key>originY</key>
			<string>295</string>
			<key>width</key>
			<string>26</string>
			<key>height</key>
			<string>24</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_up</key>
		<dict>
			<key>originX</key>
			<string>302</string>
			<key>originY</key>
			<string>295</string>
			<key>width</key>
			<string>17</string>
			<key>height</key>
			<string>20</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_down</key>
		<dict>
			<key>originX</key>
			<string>319</string>
			<key>originY</key>
			<string>295</string>
			<key>width</key>
			<string>17</string>
			<key>height</key>
			<string>20</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>swimming_up</key>
		<dict>
			<key>originX</key>
			<string>336</string>
			<key>originY</key>
			<string>295</string>
			<key>width</key>
			<string>16</string>
			<key>height</key>
			<string>24</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep_up</key>
		<dict>
			<key>originX</key>
			<string>352</string>
			<key>originY</key>
			<string>295</string>
			<key>width</key>
			<string>15</string>
			<key>height</key>
			<string>29</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>swimming_down</key>
		<dict>
			<key>originX</key>
			<string>367</string>
			<key>originY</key>
			<string>295</string>
			<key>width</key>
			<string>14</string>
			<key>height</key>
			<string>20</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep_down</key>
		<dict>
			<key>originX</key>
			<string>381</string>
			<key>originY</key>
			<string>295</string>
			<key>width</key>
			<string>14</string>
			<key>height</key>
			<string>21</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>fly_down</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>330</string>
			<key>width</key>
			<string>46</string>
			<key>height</key>
			<string>24</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>landing_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>354</string>
			<key>width</key>
			<string>44</string>
			<key>height</key>
			<string>20</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>fly_leftup</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>374</string>
			<key>width</key>
			<string>44</string>
			<key>height</key>
			<string>36</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>landing_leftup</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>410</string>
			<key>width</key>
			<string>42</string>
			<key>height</key>
			<string>29</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>fly_left</key>
		<dict>
			<key>originX</key>
			<string>252</string>
			<key>originY</key>
			<string>410</string>
			<key>width</key>
			<string>34</string>
			<key>height</key>
			<string>40</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>walk_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>450</string>
			<key>width</key>
			<string>36</string>
			<key>height</key>
			<string>27</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>landing_left</key>
		<dict>
			<key>originX</key>
			<string>216</string>
			<key>originY</key>
			<string>450</string>
			<key>width</key>
			<string>36</string>
			<key>height</key>
			<string>43</string>
			<key>number</key>
			<string>6</string>
		</dict>
	</dict>
</dict>