<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>snake</key>
	<dict>
		<key>maxItems</key><string>20</string>
		<key>eat</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>64</string>
			<key>height</key>
			<string>19</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>walk_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>19</string>
			<key>width</key>
			<string>59</string>
			<key>height</key>
			<string>13</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>walk_rightUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>32</string>
			<key>width</key>
			<string>39</string>
			<key>height</key>
			<string>13</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>walk_down</key>
		<dict>
			<key>originX</key>
			<string>234</string>
			<key>originY</key>
			<string>32</string>
			<key>width</key>
			<string>13</string>
			<key>height</key>
			<string>20</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>sleep_up</key>
		<dict>
			<key>originX</key>
			<string>312</string>
			<key>originY</key>
			<string>32</string>
			<key>width</key>
			<string>64</string>
			<key>height</key>
			<string>19</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>52</string>
			<key>width</key>
			<string>39</string>
			<key>height</key>
			<string>21</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>sleep_leftUp</key>
		<dict>
			<key>originX</key>
			<string>234</string>
			<key>originY</key>
			<string>52</string>
			<key>width</key>
			<string>64</string>
			<key>height</key>
			<string>19</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep_leftDown</key>
		<dict>
			<key>originX</key>
			<string>298</string>
			<key>originY</key>
			<string>52</string>
			<key>width</key>
			<string>64</string>
			<key>height</key>
			<string>19</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>73</string>
			<key>width</key>
			<string>29</string>
			<key>height</key>
			<string>27</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>sleep_left</key>
		<dict>
			<key>originX</key>
			<string>174</string>
			<key>originY</key>
			<string>73</string>
			<key>width</key>
			<string>64</string>
			<key>height</key>
			<string>19</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep_down</key>
		<dict>
			<key>originX</key>
			<string>238</string>
			<key>originY</key>
			<string>73</string>
			<key>width</key>
			<string>64</string>
			<key>height</key>
			<string>19</string>
			<key>number</key>
			<string>1</string>
		</dict>
	</dict>
</dict>