<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>swan</key>
	<dict>
		<key>maxItems</key><string>20</string>
		<key>transition_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>66</string>
			<key>height</key>
			<string>41</string>
			<key>number</key>
			<string>8</string>
		</dict>
		<key>transition_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>41</string>
			<key>width</key>
			<string>62</string>
			<key>height</key>
			<string>36</string>
			<key>number</key>
			<string>8</string>
		</dict>
		<key>sleep_leftUp</key>
		<dict>
			<key>originX</key>
			<string>496</string>
			<key>originY</key>
			<string>41</string>
			<key>width</key>
			<string>29</string>
			<key>height</key>
			<string>38</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>flying_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>79</string>
			<key>width</key>
			<string>67</string>
			<key>height</key>
			<string>39</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>swimming_left</key>
		<dict>
			<key>originX</key>
			<string>402</string>
			<key>originY</key>
			<string>79</string>
			<key>width</key>
			<string>35</string>
			<key>height</key>
			<string>27</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_left</key>
		<dict>
			<key>originX</key>
			<string>437</string>
			<key>originY</key>
			<string>79</string>
			<key>width</key>
			<string>35</string>
			<key>height</key>
			<string>29</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep_left</key>
		<dict>
			<key>originX</key>
			<string>472</string>
			<key>originY</key>
			<string>79</string>
			<key>width</key>
			<string>34</string>
			<key>height</key>
			<string>34</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_down</key>
		<dict>
			<key>originX</key>
			<string>506</string>
			<key>originY</key>
			<string>79</string>
			<key>width</key>
			<string>18</string>
			<key>height</key>
			<string>36</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>swan_landing_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>118</string>
			<key>width</key>
			<string>66</string>
			<key>height</key>
			<string>46</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>walk_down</key>
		<dict>
			<key>originX</key>
			<string>396</string>
			<key>originY</key>
			<string>118</string>
			<key>width</key>
			<string>16</string>
			<key>height</key>
			<string>43</string>
			<key>number</key>
			<string>8</string>
		</dict>
		<key>transition_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>164</string>
			<key>width</key>
			<string>64</string>
			<key>height</key>
			<string>25</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>walk_up</key>
		<dict>
			<key>originX</key>
			<string>384</string>
			<key>originY</key>
			<string>164</string>
			<key>width</key>
			<string>17</string>
			<key>height</key>
			<string>44</string>
			<key>number</key>
			<string>8</string>
		</dict>
		<key>transition_down</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>208</string>
			<key>width</key>
			<string>64</string>
			<key>height</key>
			<string>29</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>pose</key>
		<dict>
			<key>originX</key>
			<string>384</string>
			<key>originY</key>
			<string>208</string>
			<key>width</key>
			<string>34</string>
			<key>height</key>
			<string>34</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftUp</key>
		<dict>
			<key>originX</key>
			<string>418</string>
			<key>originY</key>
			<string>208</string>
			<key>width</key>
			<string>29</string>
			<key>height</key>
			<string>35</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>swimming_leftUp</key>
		<dict>
			<key>originX</key>
			<string>447</string>
			<key>originY</key>
			<string>208</string>
			<key>width</key>
			<string>28</string>
			<key>height</key>
			<string>33</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftDown</key>
		<dict>
			<key>originX</key>
			<string>475</string>
			<key>originY</key>
			<string>208</string>
			<key>width</key>
			<string>27</string>
			<key>height</key>
			<string>32</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep_leftDown</key>
		<dict>
			<key>originX</key>
			<string>502</string>
			<key>originY</key>
			<string>208</string>
			<key>width</key>
			<string>26</string>
			<key>height</key>
			<string>36</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>swan_landing_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>244</string>
			<key>width</key>
			<string>64</string>
			<key>height</key>
			<string>50</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>swimming_leftDown</key>
		<dict>
			<key>originX</key>
			<string>384</string>
			<key>originY</key>
			<string>244</string>
			<key>width</key>
			<string>25</string>
			<key>height</key>
			<string>29</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_up</key>
		<dict>
			<key>originX</key>
			<string>409</string>
			<key>originY</key>
			<string>244</string>
			<key>width</key>
			<string>17</string>
			<key>height</key>
			<string>38</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>swimming_up</key>
		<dict>
			<key>originX</key>
			<string>426</string>
			<key>originY</key>
			<string>244</string>
			<key>width</key>
			<string>15</string>
			<key>height</key>
			<string>36</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>swimming_down</key>
		<dict>
			<key>originX</key>
			<string>441</string>
			<key>originY</key>
			<string>244</string>
			<key>width</key>
			<string>15</string>
			<key>height</key>
			<string>30</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep_up</key>
		<dict>
			<key>originX</key>
			<string>456</string>
			<key>originY</key>
			<string>244</string>
			<key>width</key>
			<string>15</string>
			<key>height</key>
			<string>38</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep_down</key>
		<dict>
			<key>originX</key>
			<string>471</string>
			<key>originY</key>
			<string>244</string>
			<key>width</key>
			<string>14</string>
			<key>height</key>
			<string>38</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>swan_landing_down</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>294</string>
			<key>width</key>
			<string>64</string>
			<key>height</key>
			<string>29</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>flying_down</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>323</string>
			<key>width</key>
			<string>63</string>
			<key>height</key>
			<string>38</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>swan_landing_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>361</string>
			<key>width</key>
			<string>59</string>
			<key>height</key>
			<string>27</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>flying_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>388</string>
			<key>width</key>
			<string>58</string>
			<key>height</key>
			<string>48</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>fly_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>436</string>
			<key>width</key>
			<string>58</string>
			<key>height</key>
			<string>52</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>swan_landing_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>488</string>
			<key>width</key>
			<string>56</string>
			<key>height</key>
			<string>58</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>eat</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>546</string>
			<key>width</key>
			<string>50</string>
			<key>height</key>
			<string>31</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>walk_leftUp</key>
		<dict>
			<key>originX</key>
			<string>300</string>
			<key>originY</key>
			<string>546</string>
			<key>width</key>
			<string>28</string>
			<key>height</key>
			<string>42</string>
			<key>number</key>
			<string>8</string>
		</dict>
		<key>transition_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>588</string>
			<key>width</key>
			<string>49</string>
			<key>height</key>
			<string>41</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>walk_leftDown</key>
		<dict>
			<key>originX</key>
			<string>294</string>
			<key>originY</key>
			<string>588</string>
			<key>width</key>
			<string>27</string>
			<key>height</key>
			<string>41</string>
			<key>number</key>
			<string>8</string>
		</dict>
		<key>walk_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>629</string>
			<key>width</key>
			<string>36</string>
			<key>height</key>
			<string>40</string>
			<key>number</key>
			<string>8</string>
		</dict>
		<key>fly_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>669</string>
			<key>width</key>
			<string>48</string>
			<key>height</key>
			<string>68</string>
			<key>number</key>
			<string>6</string>
		</dict>
	</dict>
</dict>