<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>babyWildgoose</key>
	<dict>
		<key>maxItems</key><string>20</string>
		<key>eat</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>30</string>
			<key>height</key>
			<string>20</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>walk_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>20</string>
			<key>width</key>
			<string>27</string>
			<key>height</key>
			<string>22</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>sleep_left</key>
		<dict>
			<key>originX</key>
			<string>270</string>
			<key>originY</key>
			<string>20</string>
			<key>width</key>
			<string>24</string>
			<key>height</key>
			<string>20</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>42</string>
			<key>width</key>
			<string>22</string>
			<key>height</key>
			<string>27</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>pose</key>
		<dict>
			<key>originX</key>
			<string>220</string>
			<key>originY</key>
			<string>42</string>
			<key>width</key>
			<string>24</string>
			<key>height</key>
			<string>20</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftUp</key>
		<dict>
			<key>originX</key>
			<string>244</string>
			<key>originY</key>
			<string>42</string>
			<key>width</key>
			<string>22</string>
			<key>height</key>
			<string>20</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep_leftDown</key>
		<dict>
			<key>originX</key>
			<string>266</string>
			<key>originY</key>
			<string>42</string>
			<key>width</key>
			<string>20</string>
			<key>height</key>
			<string>22</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep_up</key>
		<dict>
			<key>originX</key>
			<string>286</string>
			<key>originY</key>
			<string>42</string>
			<key>width</key>
			<string>13</string>
			<key>height</key>
			<string>27</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>69</string>
			<key>width</key>
			<string>20</string>
			<key>height</key>
			<string>29</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>ill_left</key>
		<dict>
			<key>originX</key>
			<string>200</string>
			<key>originY</key>
			<string>69</string>
			<key>width</key>
			<string>20</string>
			<key>height</key>
			<string>15</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep_leftUp</key>
		<dict>
			<key>originX</key>
			<string>220</string>
			<key>originY</key>
			<string>69</string>
			<key>width</key>
			<string>19</string>
			<key>height</key>
			<string>24</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftDown</key>
		<dict>
			<key>originX</key>
			<string>239</string>
			<key>originY</key>
			<string>69</string>
			<key>width</key>
			<string>17</string>
			<key>height</key>
			<string>22</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_down</key>
		<dict>
			<key>originX</key>
			<string>256</string>
			<key>originY</key>
			<string>69</string>
			<key>width</key>
			<string>17</string>
			<key>height</key>
			<string>20</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_up</key>
		<dict>
			<key>originX</key>
			<string>273</string>
			<key>originY</key>
			<string>69</string>
			<key>width</key>
			<string>15</string>
			<key>height</key>
			<string>25</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>98</string>
			<key>width</key>
			<string>13</string>
			<key>height</key>
			<string>29</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>walk_down</key>
		<dict>
			<key>originX</key>
			<string>130</string>
			<key>originY</key>
			<string>98</string>
			<key>width</key>
			<string>13</string>
			<key>height</key>
			<string>31</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>sleep_down</key>
		<dict>
			<key>originX</key>
			<string>260</string>
			<key>originY</key>
			<string>98</string>
			<key>width</key>
			<string>13</string>
			<key>height</key>
			<string>27</string>
			<key>number</key>
			<string>1</string>
		</dict>
	</dict>
</dict>