<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>babyPeacock</key>
	<dict>
		<key>maxItems</key><string>12</string>
		<key>eat</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>53</string>
			<key>height</key>
			<string>36</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>walk_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>36</string>
			<key>width</key>
			<string>49</string>
			<key>height</key>
			<string>39</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>ill_up</key>
		<dict>
			<key>originX</key>
			<string>490</string>
			<key>originY</key>
			<string>36</string>
			<key>width</key>
			<string>38</string>
			<key>height</key>
			<string>30</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>75</string>
			<key>width</key>
			<string>42</string>
			<key>height</key>
			<string>43</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>stand_right</key>
		<dict>
			<key>originX</key>
			<string>420</string>
			<key>originY</key>
			<string>75</string>
			<key>width</key>
			<string>47</string>
			<key>height</key>
			<string>38</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>stand_left</key>
		<dict>
			<key>originX</key>
			<string>467</string>
			<key>originY</key>
			<string>75</string>
			<key>width</key>
			<string>47</string>
			<key>height</key>
			<string>38</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>118</string>
			<key>width</key>
			<string>39</string>
			<key>height</key>
			<string>47</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>pose</key>
		<dict>
			<key>originX</key>
			<string>390</string>
			<key>originY</key>
			<string>118</string>
			<key>width</key>
			<string>47</string>
			<key>height</key>
			<string>38</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftDown</key>
		<dict>
			<key>originX</key>
			<string>437</string>
			<key>originY</key>
			<string>118</string>
			<key>width</key>
			<string>46</string>
			<key>height</key>
			<string>25</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_up</key>
		<dict>
			<key>originX</key>
			<string>483</string>
			<key>originY</key>
			<string>118</string>
			<key>width</key>
			<string>43</string>
			<key>height</key>
			<string>29</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>165</string>
			<key>width</key>
			<string>27</string>
			<key>height</key>
			<string>49</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>walk_down</key>
		<dict>
			<key>originX</key>
			<string>270</string>
			<key>originY</key>
			<string>165</string>
			<key>width</key>
			<string>25</string>
			<key>height</key>
			<string>47</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>ill_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>214</string>
			<key>width</key>
			<string>41</string>
			<key>height</key>
			<string>25</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_left</key>
		<dict>
			<key>originX</key>
			<string>41</string>
			<key>originY</key>
			<string>214</string>
			<key>width</key>
			<string>36</string>
			<key>height</key>
			<string>32</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_leftUp</key>
		<dict>
			<key>originX</key>
			<string>77</string>
			<key>originY</key>
			<string>214</string>
			<key>width</key>
			<string>33</string>
			<key>height</key>
			<string>32</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_down</key>
		<dict>
			<key>originX</key>
			<string>110</string>
			<key>originY</key>
			<string>214</string>
			<key>width</key>
			<string>25</string>
			<key>height</key>
			<string>35</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_leftDown</key>
		<dict>
			<key>originX</key>
			<string>135</string>
			<key>originY</key>
			<string>214</string>
			<key>width</key>
			<string>24</string>
			<key>height</key>
			<string>38</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_down</key>
		<dict>
			<key>originX</key>
			<string>159</string>
			<key>originY</key>
			<string>214</string>
			<key>width</key>
			<string>24</string>
			<key>height</key>
			<string>40</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftUp</key>
		<dict>
			<key>originX</key>
			<string>183</string>
			<key>originY</key>
			<string>214</string>
			<key>width</key>
			<string>22</string>
			<key>height</key>
			<string>36</string>
			<key>number</key>
			<string>1</string>
		</dict>
	</dict>
</dict>