<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>babyduck</key>
	<dict>
		<key>eat</key>
		<dict>
			<key>height</key>
			<string>41</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>50</string>
		</dict>
		<key>ill_down</key>
		<dict>
			<key>height</key>
			<string>33</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>129</string>
			<key>originY</key>
			<string>206</string>
			<key>width</key>
			<string>22</string>
		</dict>
		<key>ill_left</key>
		<dict>
			<key>height</key>
			<string>22</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>450</string>
			<key>originY</key>
			<string>41</string>
			<key>width</key>
			<string>47</string>
		</dict>
		<key>ill_leftDown</key>
		<dict>
			<key>height</key>
			<string>27</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>460</string>
			<key>originY</key>
			<string>162</string>
			<key>width</key>
			<string>40</string>
		</dict>
		<key>ill_leftUp</key>
		<dict>
			<key>height</key>
			<string>29</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>206</string>
			<key>width</key>
			<string>36</string>
		</dict>
		<key>ill_up</key>
		<dict>
			<key>height</key>
			<string>32</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>478</string>
			<key>originY</key>
			<string>80</string>
			<key>width</key>
			<string>22</string>
		</dict>
		<key>maxItems</key>
		<string>12</string>
		<key>pose</key>
		<dict>
			<key>height</key>
			<string>34</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>425</string>
			<key>originY</key>
			<string>121</string>
			<key>width</key>
			<string>45</string>
		</dict>
		<key>rest_down</key>
		<dict>
			<key>height</key>
			<string>39</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>171</string>
			<key>originY</key>
			<string>206</string>
			<key>width</key>
			<string>20</string>
		</dict>
		<key>rest_left</key>
		<dict>
			<key>height</key>
			<string>34</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>380</string>
			<key>originY</key>
			<string>121</string>
			<key>width</key>
			<string>45</string>
		</dict>
		<key>rest_leftDown</key>
		<dict>
			<key>height</key>
			<string>34</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>71</string>
			<key>originY</key>
			<string>206</string>
			<key>width</key>
			<string>35</string>
		</dict>
		<key>rest_leftUp</key>
		<dict>
			<key>height</key>
			<string>34</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>36</string>
			<key>originY</key>
			<string>206</string>
			<key>width</key>
			<string>35</string>
		</dict>
		<key>rest_up</key>
		<dict>
			<key>height</key>
			<string>36</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>151</string>
			<key>originY</key>
			<string>206</string>
			<key>width</key>
			<string>20</string>
		</dict>
		<key>swimming_down</key>
		<dict>
			<key>height</key>
			<string>35</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>106</string>
			<key>originY</key>
			<string>206</string>
			<key>width</key>
			<string>23</string>
		</dict>
		<key>swimming_left</key>
		<dict>
			<key>height</key>
			<string>32</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>380</string>
			<key>originY</key>
			<string>80</string>
			<key>width</key>
			<string>53</string>
		</dict>
		<key>swimming_leftDown</key>
		<dict>
			<key>height</key>
			<string>32</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>433</string>
			<key>originY</key>
			<string>80</string>
			<key>width</key>
			<string>45</string>
		</dict>
		<key>swimming_leftUp</key>
		<dict>
			<key>height</key>
			<string>32</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>420</string>
			<key>originY</key>
			<string>162</string>
			<key>width</key>
			<string>40</string>
		</dict>
		<key>swimming_up</key>
		<dict>
			<key>height</key>
			<string>34</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>470</string>
			<key>originY</key>
			<string>121</string>
			<key>width</key>
			<string>23</string>
		</dict>
		<key>walk_down</key>
		<dict>
			<key>height</key>
			<string>44</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>210</string>
			<key>originY</key>
			<string>162</string>
			<key>width</key>
			<string>21</string>
		</dict>
		<key>walk_left</key>
		<dict>
			<key>height</key>
			<string>39</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>41</string>
			<key>width</key>
			<string>45</string>
		</dict>
		<key>walk_leftDown</key>
		<dict>
			<key>height</key>
			<string>41</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>121</string>
			<key>width</key>
			<string>38</string>
		</dict>
		<key>walk_leftUp</key>
		<dict>
			<key>height</key>
			<string>41</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>80</string>
			<key>width</key>
			<string>38</string>
		</dict>
		<key>walk_up</key>
		<dict>
			<key>height</key>
			<string>44</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>162</string>
			<key>width</key>
			<string>21</string>
		</dict>
	</dict>
</dict>
</plist>
