<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>babyswan</key>
	<dict>
		<key>eat</key>
		<dict>
			<key>height</key>
			<string>43</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>54</string>
		</dict>
		<key>ill_down</key>
		<dict>
			<key>height</key>
			<string>41</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>119</string>
			<key>originY</key>
			<string>238</string>
			<key>width</key>
			<string>24</string>
		</dict>
		<key>ill_left</key>
		<dict>
			<key>height</key>
			<string>27</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>400</string>
			<key>originY</key>
			<string>87</string>
			<key>width</key>
			<string>55</string>
		</dict>
		<key>ill_leftDown</key>
		<dict>
			<key>height</key>
			<string>31</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>422</string>
			<key>originY</key>
			<string>135</string>
			<key>width</key>
			<string>42</string>
		</dict>
		<key>ill_leftUp</key>
		<dict>
			<key>height</key>
			<string>32</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>490</string>
			<key>originY</key>
			<string>43</string>
			<key>width</key>
			<string>43</string>
		</dict>
		<key>ill_up</key>
		<dict>
			<key>height</key>
			<string>44</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>69</string>
			<key>originY</key>
			<string>238</string>
			<key>width</key>
			<string>26</string>
		</dict>
		<key>maxItems</key>
		<string>12</string>
		<key>pose</key>
		<dict>
			<key>height</key>
			<string>33</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>460</string>
			<key>originY</key>
			<string>185</string>
			<key>width</key>
			<string>41</string>
		</dict>
		<key>sleep_down</key>
		<dict>
			<key>height</key>
			<string>37</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>507</string>
			<key>originY</key>
			<string>87</string>
			<key>width</key>
			<string>32</string>
		</dict>
		<key>sleep_left</key>
		<dict>
			<key>height</key>
			<string>33</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>464</string>
			<key>originY</key>
			<string>135</string>
			<key>width</key>
			<string>41</string>
		</dict>
		<key>sleep_leftDown</key>
		<dict>
			<key>height</key>
			<string>36</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>505</string>
			<key>originY</key>
			<string>135</string>
			<key>width</key>
			<string>31</string>
		</dict>
		<key>sleep_leftUp</key>
		<dict>
			<key>height</key>
			<string>37</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>238</string>
			<key>width</key>
			<string>40</string>
		</dict>
		<key>sleep_up</key>
		<dict>
			<key>height</key>
			<string>44</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>40</string>
			<key>originY</key>
			<string>238</string>
			<key>width</key>
			<string>29</string>
		</dict>
		<key>swimming_down</key>
		<dict>
			<key>height</key>
			<string>31</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>95</string>
			<key>originY</key>
			<string>238</string>
			<key>width</key>
			<string>24</string>
		</dict>
		<key>swimming_left</key>
		<dict>
			<key>height</key>
			<string>28</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>455</string>
			<key>originY</key>
			<string>87</string>
			<key>width</key>
			<string>52</string>
		</dict>
		<key>swimming_leftDown</key>
		<dict>
			<key>height</key>
			<string>26</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>380</string>
			<key>originY</key>
			<string>135</string>
			<key>width</key>
			<string>42</string>
		</dict>
		<key>swimming_leftUp</key>
		<dict>
			<key>height</key>
			<string>38</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>501</string>
			<key>originY</key>
			<string>185</string>
			<key>width</key>
			<string>37</string>
		</dict>
		<key>swimming_up</key>
		<dict>
			<key>height</key>
			<string>41</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>143</string>
			<key>originY</key>
			<string>238</string>
			<key>width</key>
			<string>23</string>
		</dict>
		<key>walk_down</key>
		<dict>
			<key>height</key>
			<string>53</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>240</string>
			<key>originY</key>
			<string>185</string>
			<key>width</key>
			<string>22</string>
		</dict>
		<key>walk_left</key>
		<dict>
			<key>height</key>
			<string>44</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>43</string>
			<key>width</key>
			<string>49</string>
		</dict>
		<key>walk_leftDown</key>
		<dict>
			<key>height</key>
			<string>48</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>87</string>
			<key>width</key>
			<string>40</string>
		</dict>
		<key>walk_leftUp</key>
		<dict>
			<key>height</key>
			<string>50</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>135</string>
			<key>width</key>
			<string>38</string>
		</dict>
		<key>walk_up</key>
		<dict>
			<key>height</key>
			<string>52</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>185</string>
			<key>width</key>
			<string>24</string>
		</dict>
	</dict>
</dict>
</plist>
