<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>hen</key>
	<dict>
		<key>maxItems</key><string>10</string>
		<key>eat</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>65</string>
			<key>height</key>
			<string>65</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>walk_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>65</string>
			<key>width</key>
			<string>54</string>
			<key>height</key>
			<string>66</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>ill_left</key>
		<dict>
			<key>originX</key>
			<string>540</string>
			<key>originY</key>
			<string>65</string>
			<key>width</key>
			<string>65</string>
			<key>height</key>
			<string>32</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_up</key>
		<dict>
			<key>originX</key>
			<string>605</string>
			<key>originY</key>
			<string>65</string>
			<key>width</key>
			<string>35</string>
			<key>height</key>
			<string>46</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>131</string>
			<key>width</key>
			<string>50</string>
			<key>height</key>
			<string>67</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>sleep</key>
		<dict>
			<key>originX</key>
			<string>500</string>
			<key>originY</key>
			<string>131</string>
			<key>width</key>
			<string>62</string>
			<key>height</key>
			<string>46</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftUp</key>
		<dict>
			<key>originX</key>
			<string>562</string>
			<key>originY</key>
			<string>131</string>
			<key>width</key>
			<string>62</string>
			<key>height</key>
			<string>39</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>198</string>
			<key>width</key>
			<string>48</string>
			<key>height</key>
			<string>64</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>ill_leftDown</key>
		<dict>
			<key>originX</key>
			<string>480</string>
			<key>originY</key>
			<string>198</string>
			<key>width</key>
			<string>60</string>
			<key>height</key>
			<string>39</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>pose</key>
		<dict>
			<key>originX</key>
			<string>540</string>
			<key>originY</key>
			<string>198</string>
			<key>width</key>
			<string>54</string>
			<key>height</key>
			<string>66</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_down</key>
		<dict>
			<key>originX</key>
			<string>594</string>
			<key>originY</key>
			<string>198</string>
			<key>width</key>
			<string>35</string>
			<key>height</key>
			<string>57</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_down</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>264</string>
			<key>width</key>
			<string>34</string>
			<key>height</key>
			<string>77</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>walk_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>341</string>
			<key>width</key>
			<string>33</string>
			<key>height</key>
			<string>74</string>
			<key>number</key>
			<string>10</string>
		</dict>
	</dict>
</dict>