<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>mallard_2</key>
	<dict>
		<key>maxItems</key><string>12</string>
		<key>eat</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>89</string>
			<key>height</key>
			<string>60</string>
			<key>number</key>
			<string>7</string>
		</dict>
		<key>fly_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>60</string>
			<key>width</key>
			<string>95</string>
			<key>height</key>
			<string>46</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>sleep_leftUp</key>
		<dict>
			<key>originX</key>
			<string>570</string>
			<key>originY</key>
			<string>60</string>
			<key>width</key>
			<string>53</string>
			<key>height</key>
			<string>50</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>fly_leftdown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>110</string>
			<key>width</key>
			<string>95</string>
			<key>height</key>
			<string>72</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>sleep_leftDown</key>
		<dict>
			<key>originX</key>
			<string>570</string>
			<key>originY</key>
			<string>110</string>
			<key>width</key>
			<string>40</string>
			<key>height</key>
			<string>38</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>fly_down</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>182</string>
			<key>width</key>
			<string>95</string>
			<key>height</key>
			<string>48</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>ill_up</key>
		<dict>
			<key>originX</key>
			<string>570</string>
			<key>originY</key>
			<string>182</string>
			<key>width</key>
			<string>35</string>
			<key>height</key>
			<string>42</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>fly_leftup</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>230</string>
			<key>width</key>
			<string>90</string>
			<key>height</key>
			<string>74</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>ill_left</key>
		<dict>
			<key>originX</key>
			<string>540</string>
			<key>originY</key>
			<string>230</string>
			<key>width</key>
			<string>80</string>
			<key>height</key>
			<string>28</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>fly_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>304</string>
			<key>width</key>
			<string>70</string>
			<key>height</key>
			<string>82</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>swimming_left</key>
		<dict>
			<key>originX</key>
			<string>420</string>
			<key>originY</key>
			<string>304</string>
			<key>width</key>
			<string>75</string>
			<key>height</key>
			<string>34</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>pose</key>
		<dict>
			<key>originX</key>
			<string>495</string>
			<key>originY</key>
			<string>304</string>
			<key>width</key>
			<string>75</string>
			<key>height</key>
			<string>55</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_down</key>
		<dict>
			<key>originX</key>
			<string>570</string>
			<key>originY</key>
			<string>304</string>
			<key>width</key>
			<string>35</string>
			<key>height</key>
			<string>42</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>386</string>
			<key>width</key>
			<string>70</string>
			<key>height</key>
			<string>35</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>swimming_leftUp</key>
		<dict>
			<key>originX</key>
			<string>70</string>
			<key>originY</key>
			<string>386</string>
			<key>width</key>
			<string>60</string>
			<key>height</key>
			<string>42</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep_left</key>
		<dict>
			<key>originX</key>
			<string>130</string>
			<key>originY</key>
			<string>386</string>
			<key>width</key>
			<string>60</string>
			<key>height</key>
			<string>38</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>swimming_leftDown</key>
		<dict>
			<key>originX</key>
			<string>190</string>
			<key>originY</key>
			<string>386</string>
			<key>width</key>
			<string>55</string>
			<key>height</key>
			<string>37</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftDown</key>
		<dict>
			<key>originX</key>
			<string>245</string>
			<key>originY</key>
			<string>386</string>
			<key>width</key>
			<string>55</string>
			<key>height</key>
			<string>39</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>swimming_up</key>
		<dict>
			<key>originX</key>
			<string>300</string>
			<key>originY</key>
			<string>386</string>
			<key>width</key>
			<string>33</string>
			<key>height</key>
			<string>48</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep_up</key>
		<dict>
			<key>originX</key>
			<string>333</string>
			<key>originY</key>
			<string>386</string>
			<key>width</key>
			<string>32</string>
			<key>height</key>
			<string>59</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>swimming_down</key>
		<dict>
			<key>originX</key>
			<string>365</string>
			<key>originY</key>
			<string>386</string>
			<key>width</key>
			<string>28</string>
			<key>height</key>
			<string>40</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep_down</key>
		<dict>
			<key>originX</key>
			<string>393</string>
			<key>originY</key>
			<string>386</string>
			<key>width</key>
			<string>28</string>
			<key>height</key>
			<string>43</string>
			<key>number</key>
			<string>1</string>
		</dict>
	</dict>
</dict>