<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mandarinduck</key>
	<dict>
		<key>eat</key>
		<dict>
			<key>height</key>
			<string>44</string>
			<key>number</key>
			<string>12</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>68</string>
		</dict>
		<key>maxItems</key>
		<string>12</string>
		<key>pose</key>
		<dict>
			<key>height</key>
			<string>48</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>712</string>
			<key>originY</key>
			<string>44</string>
			<key>width</key>
			<string>62</string>
		</dict>
		<key>sleep_down</key>
		<dict>
			<key>height</key>
			<string>56</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>774</string>
			<key>originY</key>
			<string>143</string>
			<key>width</key>
			<string>28</string>
		</dict>
		<key>sleep_left</key>
		<dict>
			<key>height</key>
			<string>53</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>197</string>
			<key>originY</key>
			<string>199</string>
			<key>width</key>
			<string>26</string>
		</dict>
		<key>sleep_leftDown</key>
		<dict>
			<key>height</key>
			<string>43</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>720</string>
			<key>originY</key>
			<string>143</string>
			<key>width</key>
			<string>54</string>
		</dict>
		<key>sleep_leftUp</key>
		<dict>
			<key>height</key>
			<string>48</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>51</string>
			<key>originY</key>
			<string>199</string>
			<key>width</key>
			<string>49</string>
		</dict>
		<key>sleep_up</key>
		<dict>
			<key>height</key>
			<string>47</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>774</string>
			<key>originY</key>
			<string>44</string>
			<key>width</key>
			<string>41</string>
		</dict>
		<key>swimming_down</key>
		<dict>
			<key>height</key>
			<string>38</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>171</string>
			<key>originY</key>
			<string>199</string>
			<key>width</key>
			<string>26</string>
		</dict>
		<key>swimming_left</key>
		<dict>
			<key>height</key>
			<string>34</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>650</string>
			<key>originY</key>
			<string>44</string>
			<key>width</key>
			<string>62</string>
		</dict>
		<key>swimming_leftDown</key>
		<dict>
			<key>height</key>
			<string>34</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>100</string>
			<key>originY</key>
			<string>199</string>
			<key>width</key>
			<string>45</string>
		</dict>
		<key>swimming_leftUp</key>
		<dict>
			<key>height</key>
			<string>44</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>199</string>
			<key>width</key>
			<string>51</string>
		</dict>
		<key>swimming_up</key>
		<dict>
			<key>height</key>
			<string>46</string>
			<key>number</key>
			<string>1</string>
			<key>originX</key>
			<string>145</string>
			<key>originY</key>
			<string>199</string>
			<key>width</key>
			<string>26</string>
		</dict>
		<key>walk_down</key>
		<dict>
			<key>height</key>
			<string>50</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>520</string>
			<key>originY</key>
			<string>93</string>
			<key>width</key>
			<string>29</string>
		</dict>
		<key>walk_left</key>
		<dict>
			<key>height</key>
			<string>49</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>44</string>
			<key>width</key>
			<string>65</string>
		</dict>
		<key>walk_leftDown</key>
		<dict>
			<key>height</key>
			<string>48</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>93</string>
			<key>width</key>
			<string>52</string>
		</dict>
		<key>walk_leftUp</key>
		<dict>
			<key>height</key>
			<string>50</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>143</string>
			<key>width</key>
			<string>45</string>
		</dict>
		<key>walk_up</key>
		<dict>
			<key>height</key>
			<string>56</string>
			<key>number</key>
			<string>10</string>
			<key>originX</key>
			<string>450</string>
			<key>originY</key>
			<string>143</string>
			<key>width</key>
			<string>27</string>
		</dict>
	</dict>
</dict>
</plist>
