<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>pheasant</key>
	<dict>
		<key>maxItems</key><string>8</string>
		<key>eat</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>104</string>
			<key>height</key>
			<string>50</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>walk_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>100</string>
			<key>width</key>
			<string>96</string>
			<key>height</key>
			<string>63</string>
			<key>number</key>
			<string>12</string>
		</dict>
		<key>rest_leftDown</key>
		<dict>
			<key>originX</key>
			<string>768</string>
			<key>originY</key>
			<string>100</string>
			<key>width</key>
			<string>60</string>
			<key>height</key>
			<string>54</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>226</string>
			<key>width</key>
			<string>75</string>
			<key>height</key>
			<string>74</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>stand_right</key>
		<dict>
			<key>originX</key>
			<string>600</string>
			<key>originY</key>
			<string>226</string>
			<key>width</key>
			<string>93</string>
			<key>height</key>
			<string>63</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>stand_left</key>
		<dict>
			<key>originX</key>
			<string>693</string>
			<key>originY</key>
			<string>226</string>
			<key>width</key>
			<string>93</string>
			<key>height</key>
			<string>63</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_up</key>
		<dict>
			<key>originX</key>
			<string>786</string>
			<key>originY</key>
			<string>226</string>
			<key>width</key>
			<string>35</string>
			<key>height</key>
			<string>81</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>374</string>
			<key>width</key>
			<string>65</string>
			<key>height</key>
			<string>71</string>
			<key>number</key>
			<string>11</string>
		</dict>
		<key>walk_up</key>
		<dict>
			<key>originX</key>
			<string>520</string>
			<key>originY</key>
			<string>374</string>
			<key>width</key>
			<string>37</string>
			<key>height</key>
			<string>80</string>
			<key>number</key>
			<string>11</string>
		</dict>
		<key>walk_down</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>534</string>
			<key>width</key>
			<string>35</string>
			<key>height</key>
			<string>78</string>
			<key>number</key>
			<string>10</string>
		</dict>
		<key>pose</key>
		<dict>
			<key>originX</key>
			<string>280</string>
			<key>originY</key>
			<string>534</string>
			<key>width</key>
			<string>93</string>
			<key>height</key>
			<string>63</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_left</key>
		<dict>
			<key>originX</key>
			<string>373</string>
			<key>originY</key>
			<string>534</string>
			<key>width</key>
			<string>88</string>
			<key>height</key>
			<string>47</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_left</key>
		<dict>
			<key>originX</key>
			<string>461</string>
			<key>originY</key>
			<string>534</string>
			<key>width</key>
			<string>83</string>
			<key>height</key>
			<string>34</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_leftUp</key>
		<dict>
			<key>originX</key>
			<string>544</string>
			<key>originY</key>
			<string>534</string>
			<key>width</key>
			<string>69</string>
			<key>height</key>
			<string>63</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftUp</key>
		<dict>
			<key>originX</key>
			<string>613</string>
			<key>originY</key>
			<string>534</string>
			<key>width</key>
			<string>66</string>
			<key>height</key>
			<string>44</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftDown</key>
		<dict>
			<key>originX</key>
			<string>679</string>
			<key>originY</key>
			<string>534</string>
			<key>width</key>
			<string>58</string>
			<key>height</key>
			<string>41</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_down</key>
		<dict>
			<key>originX</key>
			<string>737</string>
			<key>originY</key>
			<string>534</string>
			<key>width</key>
			<string>34</string>
			<key>height</key>
			<string>65</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_down</key>
		<dict>
			<key>originX</key>
			<string>771</string>
			<key>originY</key>
			<string>534</string>
			<key>width</key>
			<string>33</string>
			<key>height</key>
			<string>51</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>690</string>
			<key>width</key>
			<string>32</string>
			<key>height</key>
			<string>55</string>
			<key>number</key>
			<string>1</string>
		</dict>
	</dict>
</dict>