<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>rooster</key>
	<dict>
		<key>maxItems</key><string>10</string>
		<key>eat</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>97</string>
			<key>height</key>
			<string>72</string>
			<key>number</key>
			<string>14</string>
		</dict>
		<key>crow</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>144</string>
			<key>width</key>
			<string>85</string>
			<key>height</key>
			<string>80</string>
			<key>number</key>
			<string>19</string>
		</dict>
		<key>ill</key>
		<dict>
			<key>originX</key>
			<string>850</string>
			<key>originY</key>
			<string>144</string>
			<key>width</key>
			<string>80</string>
			<key>height</key>
			<string>30</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>304</string>
			<key>width</key>
			<string>75</string>
			<key>height</key>
			<string>70</string>
			<key>number</key>
			<string>13</string>
		</dict>
		<key>pose</key>
		<dict>
			<key>originX</key>
			<string>750</string>
			<key>originY</key>
			<string>304</string>
			<key>width</key>
			<string>75</string>
			<key>height</key>
			<string>70</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>sleep</key>
		<dict>
			<key>originX</key>
			<string>825</string>
			<key>originY</key>
			<string>304</string>
			<key>width</key>
			<string>70</string>
			<key>height</key>
			<string>42</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>444</string>
			<key>width</key>
			<string>55</string>
			<key>height</key>
			<string>77</string>
			<key>number</key>
			<string>13</string>
		</dict>
		<key>walk_up</key>
		<dict>
			<key>originX</key>
			<string>550</string>
			<key>originY</key>
			<string>444</string>
			<key>width</key>
			<string>30</string>
			<key>height</key>
			<string>85</string>
			<key>number</key>
			<string>15</string>
		</dict>
		<key>walk_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>614</string>
			<key>width</key>
			<string>53</string>
			<key>height</key>
			<string>73</string>
			<key>number</key>
			<string>13</string>
		</dict>
		<key>walk_down</key>
		<dict>
			<key>originX</key>
			<string>530</string>
			<key>originY</key>
			<string>614</string>
			<key>width</key>
			<string>30</string>
			<key>height</key>
			<string>72</string>
			<key>number</key>
			<string>14</string>
		</dict>
	</dict>
</dict>