<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>turkeycock</key>
	<dict>
		<key>maxItems</key><string>8</string>
		<key>eat</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>125</string>
			<key>height</key>
			<string>53</string>
			<key>number</key>
			<string>14</string>
		</dict>
		<key>walk_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>106</string>
			<key>width</key>
			<string>89</string>
			<key>height</key>
			<string>75</string>
			<key>number</key>
			<string>8</string>
		</dict>
		<key>stand_right</key>
		<dict>
			<key>originX</key>
			<string>712</string>
			<key>originY</key>
			<string>106</string>
			<key>width</key>
			<string>90</string>
			<key>height</key>
			<string>75</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>stand_left</key>
		<dict>
			<key>originX</key>
			<string>802</string>
			<key>originY</key>
			<string>106</string>
			<key>width</key>
			<string>90</string>
			<key>height</key>
			<string>75</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_left</key>
		<dict>
			<key>originX</key>
			<string>892</string>
			<key>originY</key>
			<string>106</string>
			<key>width</key>
			<string>90</string>
			<key>height</key>
			<string>54</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>181</string>
			<key>width</key>
			<string>74</string>
			<key>height</key>
			<string>84</string>
			<key>number</key>
			<string>9</string>
		</dict>
		<key>walk_down</key>
		<dict>
			<key>originX</key>
			<string>592</string>
			<key>originY</key>
			<string>181</string>
			<key>width</key>
			<string>39</string>
			<key>height</key>
			<string>88</string>
			<key>number</key>
			<string>8</string>
		</dict>
		<key>pose</key>
		<dict>
			<key>originX</key>
			<string>904</string>
			<key>originY</key>
			<string>181</string>
			<key>width</key>
			<string>90</string>
			<key>height</key>
			<string>75</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>walk_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>349</string>
			<key>width</key>
			<string>56</string>
			<key>height</key>
			<string>86</string>
			<key>number</key>
			<string>8</string>
		</dict>
		<key>walk_up</key>
		<dict>
			<key>originX</key>
			<string>448</string>
			<key>originY</key>
			<string>349</string>
			<key>width</key>
			<string>38</string>
			<key>height</key>
			<string>89</string>
			<key>number</key>
			<string>9</string>
		</dict>
		<key>ill_left</key>
		<dict>
			<key>originX</key>
			<string>752</string>
			<key>originY</key>
			<string>349</string>
			<key>width</key>
			<string>90</string>
			<key>height</key>
			<string>40</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftUp</key>
		<dict>
			<key>originX</key>
			<string>842</string>
			<key>originY</key>
			<string>349</string>
			<key>width</key>
			<string>75</string>
			<key>height</key>
			<string>63</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_leftUp</key>
		<dict>
			<key>originX</key>
			<string>917</string>
			<key>originY</key>
			<string>349</string>
			<key>width</key>
			<string>70</string>
			<key>height</key>
			<string>71</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>527</string>
			<key>width</key>
			<string>62</string>
			<key>height</key>
			<string>61</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftDown</key>
		<dict>
			<key>originX</key>
			<string>62</string>
			<key>originY</key>
			<string>527</string>
			<key>width</key>
			<string>60</string>
			<key>height</key>
			<string>47</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_up</key>
		<dict>
			<key>originX</key>
			<string>122</string>
			<key>originY</key>
			<string>527</string>
			<key>width</key>
			<string>40</string>
			<key>height</key>
			<string>89</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_up</key>
		<dict>
			<key>originX</key>
			<string>162</string>
			<key>originY</key>
			<string>527</string>
			<key>width</key>
			<string>39</string>
			<key>height</key>
			<string>81</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>rest_down</key>
		<dict>
			<key>originX</key>
			<string>201</string>
			<key>originY</key>
			<string>527</string>
			<key>width</key>
			<string>35</string>
			<key>height</key>
			<string>71</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_down</key>
		<dict>
			<key>originX</key>
			<string>236</string>
			<key>originY</key>
			<string>527</string>
			<key>width</key>
			<string>35</string>
			<key>height</key>
			<string>51</string>
			<key>number</key>
			<string>1</string>
		</dict>
	</dict>
</dict>