<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>wildgoose</key>
	<dict>
		<key>maxItems</key><string>10</string>
		<key>transition_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>152</string>
			<key>height</key>
			<string>93</string>
			<key>number</key>
			<string>8</string>
		</dict>
		<key>transition_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>93</string>
			<key>width</key>
			<string>137</string>
			<key>height</key>
			<string>117</string>
			<key>number</key>
			<string>8</string>
		</dict>
		<key>pose</key>
		<dict>
			<key>originX</key>
			<string>1096</string>
			<key>originY</key>
			<string>93</string>
			<key>width</key>
			<string>67</string>
			<key>height</key>
			<string>56</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_down</key>
		<dict>
			<key>originX</key>
			<string>1163</string>
			<key>originY</key>
			<string>93</string>
			<key>width</key>
			<string>45</string>
			<key>height</key>
			<string>56</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>transition_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>210</string>
			<key>width</key>
			<string>126</string>
			<key>height</key>
			<string>119</string>
			<key>number</key>
			<string>8</string>
		</dict>
		<key>walk_up</key>
		<dict>
			<key>originX</key>
			<string>1008</string>
			<key>originY</key>
			<string>210</string>
			<key>width</key>
			<string>34</string>
			<key>height</key>
			<string>90</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>transition_down</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>329</string>
			<key>width</key>
			<string>153</string>
			<key>height</key>
			<string>95</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>walk_down</key>
		<dict>
			<key>originX</key>
			<string>918</string>
			<key>originY</key>
			<string>329</string>
			<key>width</key>
			<string>36</string>
			<key>height</key>
			<string>90</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>ill_leftUp</key>
		<dict>
			<key>originX</key>
			<string>1134</string>
			<key>originY</key>
			<string>329</string>
			<key>width</key>
			<string>67</string>
			<key>height</key>
			<string>60</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>fly_down</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>424</string>
			<key>width</key>
			<string>152</string>
			<key>height</key>
			<string>100</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>ill_left</key>
		<dict>
			<key>originX</key>
			<string>912</string>
			<key>originY</key>
			<string>424</string>
			<key>width</key>
			<string>67</string>
			<key>height</key>
			<string>43</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_leftDown</key>
		<dict>
			<key>originX</key>
			<string>979</string>
			<key>originY</key>
			<string>424</string>
			<key>width</key>
			<string>55</string>
			<key>height</key>
			<string>53</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>ill_up</key>
		<dict>
			<key>originX</key>
			<string>1034</string>
			<key>originY</key>
			<string>424</string>
			<key>width</key>
			<string>40</string>
			<key>height</key>
			<string>73</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<key>fly_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>524</string>
			<key>width</key>
			<string>149</string>
			<key>height</key>
			<string>90</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>walk_leftDown</key>
		<dict>
			<key>originX</key>
			<string>894</string>
			<key>originY</key>
			<string>524</string>
			<key>width</key>
			<string>52</string>
			<key>height</key>
			<string>82</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>transition_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>614</string>
			<key>width</key>
			<string>110</string>
			<key>height</key>
			<string>123</string>
			<key>number</key>
			<string>8</string>
		</dict>
		<key>landing_down</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>737</string>
			<key>width</key>
			<string>145</string>
			<key>height</key>
			<string>71</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>landing_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>808</string>
			<key>width</key>
			<string>140</string>
			<key>height</key>
			<string>97</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>walk_leftUp</key>
		<dict>
			<key>originX</key>
			<string>840</string>
			<key>originY</key>
			<string>808</string>
			<key>width</key>
			<string>60</string>
			<key>height</key>
			<string>88</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>landing_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>905</string>
			<key>width</key>
			<string>137</string>
			<key>height</key>
			<string>104</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>landing_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>1009</string>
			<key>width</key>
			<string>132</string>
			<key>height</key>
			<string>65</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>fly_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>1074</string>
			<key>width</key>
			<string>130</string>
			<key>height</key>
			<string>106</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>fly_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>1180</string>
			<key>width</key>
			<string>123</string>
			<key>height</key>
			<string>116</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>walk_left</key>
		<dict>
			<key>originX</key>
			<string>738</string>
			<key>originY</key>
			<string>1180</string>
			<key>width</key>
			<string>73</string>
			<key>height</key>
			<string>80</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>landing_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>1296</string>
			<key>width</key>
			<string>105</string>
			<key>height</key>
			<string>114</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>fly_left</key>
		<dict>
			<key>originX</key>
			<string>630</string>
			<key>originY</key>
			<string>1296</string>
			<key>width</key>
			<string>94</string>
			<key>height</key>
			<string>134</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>eat</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>1430</string>
			<key>width</key>
			<string>98</string>
			<key>height</key>
			<string>69</string>
			<key>number</key>
			<string>6</string>
		</dict>
	</dict>
</dict>