<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" 
<plist version="1.0">
<dict>
	<key>wildgoose_2</key>
	<dict>
		<key>maxItems</key><string>16</string>
		<key>landing_down</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>0</string>
			<key>width</key>
			<string>145</string>
			<key>height</key>
			<string>71</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>landing_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>71</string>
			<key>width</key>
			<string>140</string>
			<key>height</key>
			<string>97</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>landing_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>168</string>
			<key>width</key>
			<string>137</string>
			<key>height</key>
			<string>104</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>landing_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>272</string>
			<key>width</key>
			<string>132</string>
			<key>height</key>
			<string>65</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>transition_down</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>337</string>
			<key>width</key>
			<string>153</string>
			<key>height</key>
			<string>95</string>
			<key>number</key>
			<string>5</string>
		</dict>
		<key>transition_up</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>432</string>
			<key>width</key>
			<string>152</string>
			<key>height</key>
			<string>93</string>
			<key>number</key>
			<string>5</string>
		</dict>
		<key>transition_leftDown</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>525</string>
			<key>width</key>
			<string>137</string>
			<key>height</key>
			<string>117</string>
			<key>number</key>
			<string>5</string>
		</dict>
		<key>transition_leftUp</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>642</string>
			<key>width</key>
			<string>126</string>
			<key>height</key>
			<string>119</string>
			<key>number</key>
			<string>5</string>
		</dict>
		<key>landing_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>761</string>
			<key>width</key>
			<string>105</string>
			<key>height</key>
			<string>114</string>
			<key>number</key>
			<string>6</string>
		</dict>
		<key>transition_left</key>
		<dict>
			<key>originX</key>
			<string>0</string>
			<key>originY</key>
			<string>875</string>
			<key>width</key>
			<string>110</string>
			<key>height</key>
			<string>123</string>
			<key>number</key>
			<string>5</string>
		</dict>
	</dict>
</dict>